## 준비

### 라이브러리

In [1]:
import pymongo
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
from urllib.parse import quote_plus
import certifi

In [2]:
import pandas as pd
from bson.objectid import ObjectId
import re

In [3]:
import pytz
from datetime import datetime, timedelta
import time

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
pd.set_option('display.float_format', '{:.2f}'.format)

### 계정

In [6]:
username = quote_plus('young_ro')
password = quote_plus('AVjXMhiwSwupLjBC')

ca = certifi.where()

## 데이터

### 연결

In [7]:
uri = "mongodb+srv://"+username+":"+password+"@mongodb-production-clus.ys47j.mongodb.net/?retryWrites=true&w=majority&appName=mongodb-production-cluster"

client = pymongo.MongoClient(uri, tlsCAfile=ca)

try:
    client.admin.command('ping')
    print("Pinged mongodb-production-clus.ys47j.mongodb.net. Sucessfully connected")
except Exception as e:
    print(e)

Pinged mongodb-production-clus.ys47j.mongodb.net. Sucessfully connected

### 로드

In [8]:
prd_db = client['mongolith_development']

In [9]:
sorted(prd_db.list_collection_names())

['addresses',
 'admin_menus',
 'admin_roles',
 'alpha_body_users',
 'banners',
 'baskets',
 'basketx',
 'brand_basic_informations',
 'brand_keywords',
 'brands',
 'campaigns',
 'cart_items',
 'categories',
 'common_codes',
 'common_codes--drop',
 'companies',
 'coupons',
 'crew_groups',
 'direct_send_histories',
 'favorite_items',
 'flowers',
 'health_helper_users',
 'history_trackers',
 'influencer_links',
 'influencers',
 'inventories',
 'kakao_channel_callback_payloads',
 'keywords',
 'maintenances',
 'market_friday_users',
 'memberships',
 'message_box_configurations',
 'message_boxes',
 'mongoid_fulltext.index_product_0',
 'options',
 'order_items',
 'order_statuses',
 'orders',
 'payments',
 'pdp_images',
 'pdp_keywords',
 'pdp_product_sets',
 'pdp_star_items',
 'pdps',
 'people',
 'point_items',
 'point_manual_issue_histories',
 'post_images',
 'posts',
 'product_inventories',
 'product_presentation_groups',
 'product_set_products',
 'product_sets',
 'products',
 'promotion_coupons',
 'promotion_images',
 'promotion_pdps',
 'promotions',
 'refund_flows',
 'refunds',
 'seller_grades',
 'seller_notices',
 'sellers',
 'shipping_vendors',
 'snippets_json_stores',
 'temp_products',
 'topic_images',
 'topic_stars',
 'topics',
 'toss_banks',
 'toss_callback_responses',
 'toss_card_vendors',
 'toss_easy_pay_vendors',
 'toss_payment_methods',
 'user_coupons',
 'user_withdrawals',
 'users',
 'vendors',
 'wolya_users',
 'worya_users']

### 사용 함수

In [10]:
def tf_idlist(_df, _ids):
    for idname in _ids:
        _df[idname] = _df[idname].apply(lambda x:str(x))

In [11]:
def filter_columns_with_id(column_list):
    return [column for column in column_list if '_id' in column]

In [12]:
def convertUtcToKst(_df, columnlist):
    for colname in columnlist:
        try:
            _df[colname] = pd.to_datetime(_df[colname], errors='coerce')
            # 이미 tz-aware 인지 확인
            if _df[colname].dt.tz is None:
                _df[colname] = _df[colname].dt.tz_localize('UTC')
            _df[f"{colname}_kst"] = _df[colname].dt.tz_convert('Asia/Seoul')
        except Exception as e:
            print(f"Error converting {timeColumn} from UTC to KST: {e}")

In [13]:
# 샘플 데이터프레임 생성
data = {
    'order_id': [1, 2, 3, 4, 5, 6, 7],
    'state': ['canceled', 'completed', 'delivered', 'failed', 'paid', 'pending_payment', 'shipped']
}
df = pd.DataFrame(data)

# 추출하고자 하는 상태 값
desired_states = {'paid', 'shipped', 'delivered', 'completed'}

# 조건에 맞는 데이터만 추출
filtered_df = df[df['state'].isin(desired_states)]

filtered_df

   order_id      state
1         2  completed
2         3  delivered
4         5       paid
6         7    shipped

## 자료 만들기

In [46]:
kst = pytz.timezone('Asia/Seoul')
now_kst = datetime.now(kst).replace(hour=0).replace(minute=0).replace(second=0).replace(microsecond=0)
start_date_kst = now_kst - timedelta(days=90)
start_date_utc = start_date_kst.astimezone(pytz.utc)

days_ago_d90 = now_kst - timedelta(days=90)
days_ago_w13 = now_kst - timedelta(weeks=13)
days_ago_m3 = now_kst.replace(day=1) - pd.DateOffset(months=3)

days_ago_d90_utc = days_ago_d90.astimezone(pytz.utc)
days_ago_w13_utc = days_ago_w13.astimezone(pytz.utc)
days_ago_m3_utc = days_ago_m3.astimezone(pytz.utc)

query_date_utc = min(days_ago_d90_utc, days_ago_w13_utc, days_ago_m3_utc)

In [39]:
print(days_ago_d90, days_ago_w13, days_ago_m3)

2024-03-07 00:00:00+09:00 2024-03-06 00:00:00+09:00 2024-03-01 00:00:00+09:00

In [40]:
print(days_ago_d90_utc, days_ago_w13_utc, days_ago_m3_utc)

2024-03-06 15:00:00+00:00 2024-03-05 15:00:00+00:00 2024-02-29 15:00:00+00:00

In [41]:
# 주문(orders)의 데이터 중에서 판매된 것 골라내기
desired_states = {'paid', 'shipped', 'delivered', 'completed'}

In [42]:
comparison_date = pd.to_datetime('2024-05-26').date()

### 주문

In [47]:
orders = prd_db['orders']
order_df = pd.DataFrame(list(orders.find({'created_at':{'$gte':query_date_utc}})))
tf_idlist(order_df, [col for col in order_df.columns if col.endswith('_id')])
convertUtcToKst(order_df, [col for col in order_df.columns if col.endswith('_at')])

In [44]:
#mo_df = 주문 중에서 판매 단계로 넘어간 것. madeorder_df
mo_df = order_df[lambda x:x['status'].isin(desired_states)].copy()


mo_df['regdate'] = pd.to_datetime(mo_df['paid_at_kst']).dt.date
#order_df['week'] = pd.to_datetime(order_df['paid_at_kst']).dt.to_period('W').apply(lambda r: r.start_time)
mo_df['week'] = mo_df['paid_at_kst'].dt.to_period('W').apply(lambda r: r.start_time if pd.notna(r) else pd.NaT)

#order_df['month'] = pd.to_datetime(order_df['paid_at_kst']).dt.to_period('M').apply(lambda r: r.start_time)
mo_df['month'] = mo_df['paid_at_kst'].dt.to_period('M').apply(lambda r: r.start_time if pd.notna(r) else pd.NaT)

mo_df['actual_price'] = pd.to_numeric(mo_df['actual_price'], errors='coerce')
mo_df['shipping_fee_total'] = pd.to_numeric(mo_df['shipping_fee_total'], errors='coerce')

/var/folders/fj/w1r1ykvs7p7_n2jtmj5v1hd40000gp/T/ipykernel_17914/2916297555.py:7: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  mo_df['week'] = mo_df['paid_at_kst'].dt.to_period('W').apply(lambda r: r.start_time if pd.notna(r) else pd.NaT)
/var/folders/fj/w1r1ykvs7p7_n2jtmj5v1hd40000gp/T/ipykernel_17914/2916297555.py:10: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  mo_df['month'] = mo_df['paid_at_kst'].dt.to_period('M').apply(lambda r: r.start_time if pd.notna(r) else pd.NaT)

In [45]:
mo_df[lambda x:x['week'] >= x['regdate']]

,_id,is_visible,status,price_total,discounted_price,adjust_price,actual_price,net_price,special_instructions,coupon_total,point,point_total,reward_point_by_coupon,reward_point_by_purchase,discounted_price_by_coupon,discounted_price_by_point,currency,item_count,shipping_fee_total,payment_total,is_deleted,title,email,orderer,orderer_phone,recipient,post_code,address,address_detail,recipient_phone,shipping_message,is_order_disabled,aasm_state,user_id,user_coupon_id,_keywords,updated_at,created_at,number,point_items_count,current_payment_method,linked_payment_id,paid_at,payment_method,payment_method_detail,shipping_invoice,shipping_started_at,shipping_state,shipping_vendor,delivered_at,completed_at,toss_card_vendor_name,easy_pay_provider,seller_id,virtual_account_customer_name,virtual_account_due_date,virtual_account_number,virtual_account_vendor_name,canceled_at,updated_at_kst,created_at_kst,paid_at_kst,shipping_started_at_kst,delivered_at_kst,completed_at_kst,canceled_at_kst,regdate,week,month
77,65e494211db17300010a16f6,True,completed,0,0,45000.0,45000,42000,,0,0,None,0,210,0,NaN,KRW,0,3000.00,0,False,[5%]원더라이너S 1박스,ri330@naver.com,김벼리,010-8536-1811,김벼리,22765,인천 서구 솔빛로 93,청라sk뷰 503동 1702호,010-8536-1811,배송전 연락주세요.,False,requested,65cf6f3f004e3e000174434e,None,"[0000001, 010, 1702호, 1811, 1박스, 20240304,...",2024-03-14 06:05:13.668000+00:00,2024-03-03 15:15:45.994000+00:00,20240304-0000001,1.00,카카오페이,65e49433b149c000019116f3,2024-03-03 15:16:03.957000+00:00,간편결제,카카오페이,6091436456262,2024-03-04 05:13:29.835000+00:00,shipped,EPOST,2024-03-07 06:00:13.079000+00:00,2024-03-14 06:05:13.668000+00:00,NaN,카카오페이,nan,NaN,NaT,NaN,NaN,NaT,2024-03-14 15:05:13.668000+09:00,2024-03-04 00:15:45.994000+09:00,2024-03-04 00:16:03.957000+09:00,2024-03-04 14:13:29.835000+09:00,2024-03-07 15:00:13.079000+09:00,2024-03-14 15:05:13.668000+09:00,NaT,2024-03-04,2024-03-04,2024-03-01
78,65e49816b149c000019116f5,True,completed,0,0,42000.0,42000,39000,,0,0,None,0,195,0,NaN,KRW,0,3000.00,0,False,[25%]W밸런스 유산균 1박스,lsy981106@nate.com,이소영,010-2679-3756,이소영,12046,경기 남양주시 오남읍 양지리 807,106동 1403호,010-2679-3756,부재시 문앞에 놓아 주세요.,False,requested,65cb0e3b6f15120001e05e1d,None,"[0000002, 010, 106동, 1403호, 1박스, 2024030...",2024-03-14 06:05:13.668000+00:00,2024-03-03 15:32:38.989000+00:00,20240304-0000002,1.00,토스페이,65e498b4525f3e0001dbfefa,2024-03-03 15:35:16.627000+00:00,간편결제,토스페이,6091436456683,2024-03-04 05:15:37.459000+00:00,shipped,EPOST,2024-03-07 06:00:13.079000+00:00,2024-03-14 06:05:13.668000+00:00,NaN,토스페이,nan,NaN,NaT,NaN,NaN,NaT,2024-03-14 15:05:13.668000+09:00,2024-03-04 00:32:38.989000+09:00,2024-03-04 00:35:16.627000+09:00,2024-03-04 14:15:37.459000+09:00,2024-03-07 15:00:13.079000+09:00,2024-03-14 15:05:13.668000+09:00,NaT,2024-03-04,2024-03-04,2024-03-01
80,65e4aca11db17300010a16ff,True,completed,0,0,47000.0,47000,44000,,0,0,None,0,220,0,NaN,KRW,0,3000.00,0,False,[50%][LUCKY]마이너스 티 프리미엄 1박스(20포) 외 1건,dlqjzz@naver.com,최재선,010-6432-8131,최,47511,부산 연제구 법원남로9번길 26,일화오피스텔 10층 1001호,010-6432-8131,문앞에 놓아 주세요 / 공동현관 출입번호 종1470,False,requested,65ba70445dc61500016e0e2f,None,"[0000004, 010, 1001호, 10층, 1건, 1박스, 20...",2024-03-14 06:05:13.668000+00:00,2024-03-03 17:00:17.100000+00:00,20240304-0000004,1.00,휴대폰,65e4acc1525f3e0001dbff07,2024-03-03 17:00:49.725000+00:00,휴대폰,휴대폰,6091436456466,2024-03-04 05:13:29.754000+00:00,shipped,EPOST,2024-03-07 06:00:13.079000+00:00,2024-03-14 06:05:13.668000+00:00,NaN,NaN,nan,NaN,NaT,NaN,NaN,NaT,2024-03-14 15:05:13.668000+09:00,2024-03-04 02:00:17.100000+09:00,2024-03-04 02:00:49.725000+09:00,2024-03-04 14:13:29.754000+09:00,2024-03-07 15:00:13.079000+09:00,2024-03-14 15:05:13.668000+09:00,NaT,2024-03-04,2024-03-04,2024-03-01
81,65e4ca5a52981200010bd8ce,True,completed,0,0,105500.0,95500,95500,,10000,0,None,0,477,10000,NaN,KRW,0,0.00,0,False,[20%]원더라이너S 3박스,4208love@naver.com,박채희,010-7446-1078,박채희,34330,대전 대덕구 덕암로213번길 12,1층,010-7446-1078,빠른 배송 부탁드립니다.,False,requested,65e4c8ad525f3e0001dbff0e,65e4c8ad525f3e0001dbff12,"[0000005, 010, 1078, 12, 1층, 20, 20240304, 3...",2024-03-14 06:05:13.668000+00:00,2024-03-03 19:07:06.402000+00:00,20240304-0000005,1.00,토스페이,65e4ca791db17300010a1705,2024-03-03 19:07:37.936000+00:00,간편결제,토스페이,6091436455984,2024-03-04 05:13:29.708000+00:00,shipped,EPOST,2024-03-07 06:00:13.079000+00:00,2024-03-14 06:05:13.668000+00:00,NaN,토스페이,nan,NaN,NaT,NaN,NaN,NaT,2024-03-14 15:05:13.668000+09:00,2024-03-04 04:07:06.402000+09:00,2024-03-04 04:07:37.936000+09:00,2024-03-04 14:13:29.708000+09:00,2024-03-07 15:00:13.079000+09:00,2024-03-14 15:05:13.668000+09:00,NaT,2024-03-04,2024-03-04,2024-03-01
104,65e4df5252981200010bd8f5,True,completed,0,0,98700.0,98700,98700,,0,0,None,0,493,0,NaN,KRW,0,0.00,0,False,[20%]힌트 딥 아쉬아간다 1박스(16포) 외 1건,haedol91@naver.com,김해솔,010-6674-1171,김해솔,26154,강원특별자치도 정선군 고한읍 고한3길 6-11,함백관 C동 716호,010-6674-1171,,False,requested,65e4d534525f3e0001dbff14,None,"[0000028, 010, 11, 1171, 16포, 1건, 1박스, 2...",2024-03-14 06:05:13.668000+00:00,2024-03-03 20:36:34.927000+00:00,20240304-0000028,1.00,카드,65e4df7952981200010bd8fb,2024-03-03 20:37:13.607000+00:00,카드,카드 (삼성카드),6091436456395,2024-03-04 05:15:08.256000+00:00,shipped,EPOST,2024-03-07 06:00:13.079000+00:00,2024-03-14 06:05:13.668000+00:00,삼성카드,NaN,nan,NaN,NaT,NaN,NaN,NaT,2024-03-14 15:05:13.668000+09:00,2024-03-04 05:36:34.927000+09:00,2024-03-04 05:37:13.607000+09:00,2024-03-04 14:15:08.256000+09:00,2024-03-07 15:00:13.079000+09:00,2024-03-14 15:05:13.668000+09:00,NaT,2024-03-04,2024-03-04,2024-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7936,665dd529707800084072ed0c,True,shipped,0,0,62900.0,57900,57900,,5000,0,None,0,289,5000,NaN,KRW,0,0.00,0,False,[29%][밍키쉬][타이트 프로그램] 3일 190ml 21병 (4종) + (증정)랜...,ti8864@naver.com,이승연,010-9190-8864,이승연,16505,경기 수원시 영통구 센트럴타운로 76,6114-3201,010-9190-8864,,False,requested,665dd484704230f8f2e0cd44,665dd4ca704230f8f2e0cd4c,"[0000179, 010, 190ml, 20240603, 21병, 2481395...",2024-06-04 05:59:29.454000+00:00,2024-06-03 14:37:29.367000+00:00,20240603-0000179,1.00,네이버페이,665dd54f707800084072ed12,2024-06-03 14:38:07.225000+00:00,간편결제,네이버페이,248139518443,2024-06-04 05:59:29.450000+00:00,shipped,LOTTE,NaT,NaT,NaN,네이버페이,nan,NaN,NaT,NaN,NaN,NaT,2024-06-04 14:59:29.454000+09:00,2024-06-03 23:37:29.367000+09:00,2024-06-03 23:38:07.225000+09:00,2024-06-04 14:59:29.450000+09:00,NaT,NaT,NaT,2024-06-03,2024-06-03,2024-06-01
7937,665dd56621f01dc021e263c2,True,shipped,0,0,149000.0,147000,147000,,2000,0,None,0,4410,2000,NaN,KRW,0,0.00,0,False,[꽁지] 68% 3X 항산화 앰플 30ml 2개 (+1ml*8개 증정),1piece-ls@hanmail.net,김주란,010-8898-4344,김주란,05229,서울 강동구 아리수로50길 50,205동 1003호,010-8898-4344,부재시 문앞에 놓아 주세요.,False,requested,64f5c129b4efda00015cd85b,665a025bc8c7b22993de0e21,"[0000180, 010, 1003호, 1ml, 1piece, 20240603, ...",2024-06-05 00:46:29.074000+00:00,2024-06-03 14:38:30.432000+00:00,20240603-0000180,1.00,네이버페이,665dd587704230f8f2e0cd4f,2024-06-03 14:39:03.124000+00:00,간편결제,네이버페이,685565925923,2024-06-05 00:46:29.070000+00:00,shipped,CJGLS,NaT,NaT,NaN,네이버페이,nan,NaN,NaT,NaN,NaN,NaT,2024-06-05 09:46:29.074000+09:00,2024-06-03 23:38:30.432000+09:00,2024-06-03 23:39:03.124000+09:00,2024-06-05 09:46:29.070000+09:00,NaT,NaT,NaT,2024-06-03,2024-06-03,2024-06-01
7938,665dd5d721f01dc021e263c9,True,shipped,0,0,62900.0,57900,57900,,5000,0,None,0,289,5000,NaN,KRW,0,0.00,0,False,[29%][밍키쉬][타이트 프로그램] 3일 190ml 21병 (4종) + (증정)랜...,girl8039@naver.com,최보민,010-5656-8039,최보민,50597,경남 양산시 물금읍 동중7길 24,경동메르빌 103동 705호,010-5656-8039,부재시 문앞에 놓아 주세요.,False,requested,665dd00e707800084072ece8,665dd465704230f8f2e0cd43,"[0000181, 010, 103동, 190ml, 20240603, 21병,...",2024-06-04 05:59:29.402000+00:00,2024-06-03 14:40:23.435000+00:00,20240603-0000181,1.00,네이버페이,665dd623707800084072ed15,2024-06-03 14:41:39.750000+00:00,간편결제,네이버페이,248139518432,2024-06-04 05:59:29.397000+00:00,shipped,LOTTE,NaT,NaT,NaN,네이버페이,nan,NaN,NaT,NaN,NaN,NaT,2024-06-04 14:59:29.402000+09:00,2024-06-03 23:40:23.435000+09:00,2024-06-03 23:41:39.750000+09:00,2024-06-04 14:59:29.397000+09:00,NaT,NaT,NaT,2024-06-03,2024-06-03,2024-06-01
7939,665dd8085f558d4949776a3e,True,shipped,0,0,62900.0,62900,62900,,0,0,None,0,314,0,NaN,KRW,0,0.00,0,False,[29%][밍키쉬][타이트 프로그램] 3일 190ml 21병 (4종) + (증정)랜...,min1007@kakao.com,김혜민,010-6262-4112,김혜민,06626,서울 서초구 강남대로53길 11,408호,010-6262-4112,,False,requested,665dd77a707800084072ed16,None,"[0000182, 010, 11, 190ml, 20240603, 21병, 248...",2024-06-04 05:59:29.340000+00:00,2024-06-03 14:49:44.263000+00:00,20240603-0000182,1.00,카드,665dd8325f558d4949776a43,2024-06-03 14:50:26.029000+00:00,카드,카드 (신한카드),248139518421,2024-06-04 05:59:29.336000+00:00,shipped,LOTTE,NaT,NaT,신한카드,NaN,nan,NaN,NaT,NaN,NaN,NaT,2024-06-04 14:59:29.340000+09:00,2024-06-03 23:49:44.263000+09:00,2024-06-03 23:50:26.029000+09:00,2024-06-04 14:59:29.336000+09:00,NaT,NaT,NaT,2024-06-03,2024-06-03,2024-06-01
7940,665dd9ae5f558d4949776a45,True,shipped,0,0,62900.0,62900,62900,,0,0,None,0,314,0,NaN,KRW,0,0.00,0,False,[29%][밍키쉬][이펙트 프로그램] 3일 190ml 21병 (6종) + (증정)랜...,ej4311686@gmail.com,이은주,010-3975-1686,이은주,15596,경기 안산시 상록구 해양5로 17,그랑시티자이 2차 209동 3002호,010-3975-1686,부재시 문앞에 놓아 주세요.,False,requested,665dd92f707800084072ed1f,None,"[0000183, 010, 1686, 17, 190ml, 20240603, 209ᄃ...",2024-06-04 05:59:29.279000+00:00,2024-06-03 14:56:46.723000+00:00,20240603-0000183,1.00,카드,665dda1d5f558d4949776a4a,2024-06-03 14:58:37.929000+00:00,카드,카드 (현대카드),248139518104,2024-06-04 05:59:29.274000+00:00,shipped,LOTTE,NaT,NaT,현대카드,NaN,nan,NaN,NaT,NaN,NaN,NaT,2024-06-04 14:59:29.279000+09:00,2024-06-03 23:56:46.723000+09:00,2024-06-03 23:58:37.929000+09:00,2024-06-04 14:59:29.274000+09:00,NaT,NaT,NaT,2024-06-03,2024-06-03,2024-06-01

### 주문 아이템

In [48]:
order_items = prd_db['order_items']
oi_df = pd.DataFrame(list(order_items.find({'created_at':{'$gte':query_date_utc}})))
tf_idlist(oi_df, [col for col in oi_df.columns if col.endswith('_id')])
convertUtcToKst(oi_df, [col for col in oi_df.columns if col.endswith('_at')])
oi_df['adjust_price'] = pd.to_numeric(oi_df['adjust_price'], errors='coerce')
oi_df['total_price']  = pd.to_numeric(oi_df['total_price'], errors='coerce')

### pdp

In [49]:
pdps = prd_db['pdps']
pdp_df = pd.DataFrame(list(pdps.find()))
tf_idlist(pdp_df, [col for col in pdp_df.columns if col.endswith('_id')])

### 합친데이터

### 일반 매출 (dr_df)

In [50]:
dr_df = mo_df[lambda x:x['seller_id']=='nan']\
    .groupby(by='regdate')\
    .agg(
        revenue=pd.NamedAgg(column='actual_price', aggfunc='sum'),
        count=pd.NamedAgg(column='_id', aggfunc=pd.Series.nunique),
        shipfee=pd.NamedAgg(column='shipping_fee_total', aggfunc='sum')
    )

In [51]:
dr_df.reset_index().sort_values('regdate', ascending=False)

       regdate  revenue  count  shipfee
96  2024-06-05  1958653     22  6000.00
95  2024-06-04  7580355     87 15000.00
94  2024-06-03  9918584    121 30000.00
93  2024-06-02  5930005     69 21000.00
92  2024-06-01   574900      9 15000.00
..         ...      ...    ...      ...
4   2024-03-05  1803716     25 24000.00
3   2024-03-04  1477945     20 21000.00
2   2024-03-03  1165400     18 30000.00
1   2024-03-02  1013452     15 21000.00
0   2024-03-01  1762407     22 15000.00

[97 rows x 4 columns]

#### 일반판매가 (dp_df)

In [52]:
mo_df[lambda x:x['seller_id']=='nan'].merge(oi_df[['order_id', 'pdp_id', 'adjust_price', 'total_price']], left_on='_id', right_on='order_id', how='inner')\
    .merge(pdp_df[['_id', 'brand_type']], left_on='pdp_id', right_on='_id', how='left')\
    [lambda x:x['regdate'] == comparison_date][['_id_x', 'actual_price', 'total_price', 'brand_type']]

                         _id_x  actual_price  total_price brand_type
4828  665296b7ee96d3e5c26d748d         45900        42900         PB
4829  6652994c1a39085b5c332ba4         69000        69000        NPB
4830  6652c59457a59b078a5e672f         42000        39000        NPB
4831  6652e45657a59b078a5e673d        232000       232000        NPB
4832  6652f76357a59b078a5e6742        106000       116000        NPB
4833  66531e3357a59b078a5e674e         41000        38000        NPB

In [53]:
dp_df = mo_df[lambda x:x['seller_id']=='nan'].merge(oi_df[['order_id', 'pdp_id', 'total_price']], left_on='_id', right_on='order_id', how='inner')\
    .merge(pdp_df[['_id', 'brand_type']], left_on='pdp_id', right_on='_id', how='left')\
    .pivot_table(index='regdate', columns='brand_type', values='total_price', aggfunc='sum')

In [54]:
dp_df['dp_sum'] = dp_df.sum(axis=1)

In [55]:
dp_df

brand_type        NB        NPB         OB        PB      dp_sum
regdate
2024-03-01       NaN 1377000.00        NaN 432200.00  1809200.00
2024-03-02  61500.00  728500.00        NaN 233200.00  1023200.00
2024-03-03 386300.00  632000.00        NaN 140100.00  1158400.00
2024-03-04 129500.00 1028500.00        NaN 326400.00  1484400.00
2024-03-05 362050.00 1150500.00        NaN 292000.00  1804550.00
...              ...        ...        ...       ...         ...
2024-06-01 117300.00  196500.00        NaN 258100.00   571900.00
2024-06-02       NaN 2899800.00 2855000.00 248000.00  6002800.00
2024-06-03 189000.00 3074800.00 6621400.00 266800.00 10152000.00
2024-06-04       NaN 1485000.00 6251900.00  39200.00  7776100.00
2024-06-05       NaN  622200.00 1360400.00  34400.00  2017000.00

[97 rows x 5 columns]

In [56]:
for vcol in dp_df.columns:
    if vcol != 'dp_sum':
        dp_df[f"{vcol}R"] = dp_df[vcol]/dp_df['dp_sum']

In [57]:
dpr_df = dp_df[['NBR', 'NPBR', 'OBR', 'PBR']]

#### 리워드링킹 (lr_df)

In [58]:
lr_df = mo_df[lambda x:x['seller_id']!='nan'].groupby(by='regdate')\
    .agg(
        lrevenue=pd.NamedAgg(column='actual_price', aggfunc='sum'),
        lcount=pd.NamedAgg(column='_id', aggfunc=pd.Series.nunique),
        lshipfee=pd.NamedAgg(column='shipping_fee_total', aggfunc='sum')
    )

In [59]:
lr_df

            lrevenue  lcount  lshipfee
regdate
2024-03-01     69000       1      0.00
2024-03-02    172000       2      0.00
2024-03-03    405000       3      0.00
2024-03-05    710000       8      0.00
2024-03-06    336000       4   3000.00
...              ...     ...       ...
2024-05-31    368700       4      0.00
2024-06-01    572092       6      0.00
2024-06-02    270000       3      0.00
2024-06-03     87000       1      0.00
2024-06-04    361500       5      0.00

[91 rows x 3 columns]

In [60]:
mo_df[lambda x:x['seller_id']!='nan'].merge(oi_df[['order_id', 'pdp_id', 'total_price']], left_on='_id', right_on='order_id', how='inner')\
    .merge(pdp_df[['_id', 'brand_type']], left_on='pdp_id', right_on='_id', how='left')

,_id_x,is_visible,status,price_total,discounted_price,adjust_price,actual_price,net_price,special_instructions,coupon_total,point,point_total,reward_point_by_coupon,reward_point_by_purchase,discounted_price_by_coupon,discounted_price_by_point,currency,item_count,shipping_fee_total,payment_total,is_deleted,title,email,orderer,orderer_phone,recipient,post_code,address,address_detail,recipient_phone,shipping_message,is_order_disabled,aasm_state,user_id,user_coupon_id,_keywords,updated_at,created_at,number,point_items_count,current_payment_method,linked_payment_id,paid_at,payment_method,payment_method_detail,shipping_invoice,shipping_started_at,shipping_state,shipping_vendor,delivered_at,completed_at,toss_card_vendor_name,easy_pay_provider,seller_id,virtual_account_customer_name,virtual_account_due_date,virtual_account_number,virtual_account_vendor_name,canceled_at,updated_at_kst,created_at_kst,paid_at_kst,shipping_started_at_kst,delivered_at_kst,completed_at_kst,canceled_at_kst,regdate,week,month,order_id,pdp_id,total_price,_id_y,brand_type
0,65e18efaa87c5100016c70dd,True,completed,0,0,69000.0,69000,69000,,0,0,None,0,345,0,NaN,KRW,0,0.00,0,False,[퀸세비][34%]맥스컷 프로 2박스,ktglove2000@hanmail.net,안아름,010-2926-6815,안아름,46624,부산 북구 모분재로 150,301호,010-2926-6815,부재시 문앞에 놓아 주세요.,False,requested,65dba922a9c8ab0001c8352f,None,"[0000022, 010, 150, 20240301, 2926, 2박스, 30...",2024-04-29 07:22:05.801000+00:00,2024-03-01 08:16:58.044000+00:00,20240301-0000022,1.00,휴대폰,65e18f20f4e23d00015df690,2024-03-01 08:17:36.200000+00:00,휴대폰,휴대폰,6091436456377,2024-03-04 05:13:30.681000+00:00,shipped,EPOST,2024-03-07 06:00:13.079000+00:00,2024-03-14 06:05:13.668000+00:00,NaN,NaN,6621bdbffc93412efa01324d,NaN,NaT,NaN,NaN,NaT,2024-04-29 16:22:05.801000+09:00,2024-03-01 17:16:58.044000+09:00,2024-03-01 17:17:36.200000+09:00,2024-03-04 14:13:30.681000+09:00,2024-03-07 15:00:13.079000+09:00,2024-03-14 15:05:13.668000+09:00,NaT,2024-03-01,2024-02-26,2024-03-01,65e18efaa87c5100016c70dd,6597637b2111f500011a8ae8,69000,6597637b2111f500011a8ae8,NB
1,65e2beddb149c0000191164d,True,completed,0,0,86000.0,86000,86000,,0,0,None,0,430,0,NaN,KRW,0,0.00,0,False,[백슬기][37%]맥스컷 블루워터 3.1 1통 + 맥스컷 프로 1박스,qptmxm-one@nate.com,문영주,010-4669-1113,문영주,48040,부산 해운대구 반여동 1660,2차 207동 301호,010-4669-1113,,False,requested,65e2be7652981200010bd849,None,"[0000012, 010, 1113, 1660, 1박스, 1통, 20240...",2024-04-19 00:42:10.273000+00:00,2024-03-02 05:53:33.661000+00:00,20240302-0000012,1.00,카드,65e2bf01b149c00001911652,2024-03-02 05:54:09.071000+00:00,카드,카드 (신한카드),6091436456422,2024-03-04 05:15:37.595000+00:00,shipped,EPOST,2024-03-07 06:00:13.079000+00:00,2024-03-14 06:05:13.668000+00:00,신한카드,NaN,6621bdc3fc93412efa01325a,NaN,NaT,NaN,NaN,NaT,2024-04-19 09:42:10.273000+09:00,2024-03-02 14:53:33.661000+09:00,2024-03-02 14:54:09.071000+09:00,2024-03-04 14:15:37.595000+09:00,2024-03-07 15:00:13.079000+09:00,2024-03-14 15:05:13.668000+09:00,NaT,2024-03-02,2024-02-26,2024-03-01,65e2beddb149c0000191164d,659b5b9a3da6cb0001fdb29b,86000,659b5b9a3da6cb0001fdb29b,NB
2,65e315c2b149c00001911665,True,completed,0,0,86000.0,86000,86000,,0,0,None,0,430,0,NaN,KRW,0,0.00,0,False,[백슬기][37%]맥스컷 블루워터 3.1 1통 + 맥스컷 프로 1박스,gjwl6745@naver.com,허지현,010-8014-6745,허지현,47368,부산 부산진구 만리산로 11,104동204호,010-8014-6745,,False,requested,65e3151d525f3e0001dbfe9a,None,"[0000016, 010, 104동204호, 11, 1박스, 1통, ...",2024-04-19 00:42:10.221000+00:00,2024-03-02 12:04:18.785000+00:00,20240302-0000016,1.00,토스페이,65e315d3525f3e0001dbfea0,2024-03-02 12:04:35.725000+00:00,간편결제,토스페이,6091436456400,2024-03-04 05:16:25.708000+00:00,shipped,EPOST,2024-03-07 06:00:13.079000+00:00,2024-03-14 06:05:13.668000+00:00,NaN,토스페이,6621bdc3fc93412efa01325a,NaN,NaT,NaN,NaN,NaT,2024-04-19 09:42:10.221000+09:00,2024-03-02 21:04:18.785000+09:00,2024-03-02 21:04:35.725000+09:00,2024-03-04 14:16:25.708000+09:00,2024-03-07 15:00:13.079000+09:00,2024-03-14 15:05:13.668000+09:00,NaT,2024-03-02,2024-02-26,2024-03-01,65e315c2b149c00001911665,659b5b9a3da6cb0001fdb29b,86000,659b5b9a3da6cb0001fdb29b,NB
3,65e39795b149c00001911683,True,completed,0,0,168000.0,158000,158000,,10000,0,None,0,790,10000,NaN,KRW,0,0.00,0,False,[최사라][39%]맥스컷 블루워터 3.1 2통 + 맥스컷 프로 2박스,tdf123456@nate.com,박혜림,010-3136-2355,박혜림,08570,서울 금천구 독산로24길 35,101호,010-3136-2355,빠른 배송 부탁드립니다.,False,requested,65e396d452981200010bd87c,65e396d452981200010bd87e,"[0000002, 010, 101호, 20240303, 2355, 2박스, ...",2024-04-19 00:42:10.172000+00:00,2024-03-02 21:18:13.487000+00:00,20240303-0000002,1.00,카카오페이,65e397b4525f3e0001dbfeb7,2024-03-02 21:18:44.255000+00:00,간편결제,카카오페이,6091436456393,2024-03-04 05:13:30.244000+00:00,shipped,EPOST,2024-03-07 06:00:13.079000+00:00,2024-03-14 06:05:13.668000+00:00,NaN,카카오페이,6621bdc1fc93412efa013253,NaN,NaT,NaN,NaN,NaT,2024-04-19 09:42:10.172000+09:00,2024-03-03 06:18:13.487000+09:00,2024-03-03 06:18:44.255000+09:00,2024-03-04 14:13:30.244000+09:00,2024-03-07 15:00:13.079000+09:00,2024-03-14 15:05:13.668000+09:00,NaT,2024-03-03,2024-02-26,2024-03-01,65e39795b149c00001911683,6530ee5e613680000101c472,168000,6530ee5e613680000101c472,NB
4,65e40a7552981200010bd889,True,completed,0,0,86000.0,86000,86000,,0,0,None,0,430,0,NaN,KRW,0,0.00,0,False,[박지수][37%]맥스컷 블루워터 3.1 1통 + 맥스컷 프로 1박스,limnaong@gmail.com,임아영,010-2942-0021,임아영,11696,경기 의정부시 평화로483번길 42,2202호,010-2942-0021,부재시 문앞에 놓아 주세요.,False,requested,65e40993b149c0000191168f,None,"[0000004, 0021, 010, 1박스, 1통, 20240303, 2...",2024-04-19 00:42:10.109000+00:00,2024-03-03 05:28:21.716000+00:00,20240303-0000004,1.00,페이코,65e40aa3b149c00001911695,2024-03-03 05:29:07.721000+00:00,간편결제,페이코,6091436456397,2024-03-04 05:16:46.146000+00:00,shipped,EPOST,2024-03-07 06:00:13.079000+00:00,2024-03-14 06:05:13.668000+00:00,NaN,페이코,6621bdc1fc93412efa013255,NaN,NaT,NaN,NaN,NaT,2024-04-19 09:42:10.109000+09:00,2024-03-03 14:28:21.716000+09:00,2024-03-03 14:29:07.721000+09:00,2024-03-04 14:16:46.146000+09:00,2024-03-07 15:00:13.079000+09:00,2024-03-14 15:05:13.668000+09:00,NaT,2024-03-03,2024-02-26,2024-03-01,65e40a7552981200010bd889,6541e0501c4d830001a8d423,86000,6541e0501c4d830001a8d423,NB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,665de30421f01dc021e263e0,True,shipped,0,0,87000.0,87000,87000,,0,0,None,0,435,0,NaN,KRW,0,0.00,0,False,[백모찌][37%]맥스컷 다이어트 핏3.1 1통 + 맥스컷 프로 1박스,kjy_0000@nate.com,김지연,010-7512-5477,김지연,48268,부산 수영구 무학로9번길 54-6,비쥬빌 201호,010-7512-5477,부재시 문앞에 놓아 주세요.,False,requested,665de1df5f558d4949776a58,None,"[0000009, 0000nate, 010, 1박스, 1통, 201호, ...",2024-06-04 07:00:40.314000+00:00,2024-06-03 15:36:36.605000+00:00,20240604-0000009,1.00,네이버페이,665de3705f558d4949776a5e,2024-06-03 15:38:24.919000+00:00,간편결제,네이버페이,6091444389582,2024-06-04 07:00:40.310000+00:00,shipped,EPOST,NaT,NaT,NaN,네이버페이,6621bdc3fc93412efa01325a,NaN,NaT,NaN,NaN,NaT,2024-06-04 16:00:40.314000+09:00,2024-06-04 00:36:36.605000+09:00,2024-06-04 00:38:24.919000+09:00,2024-06-04 16:00:40.310000+09:00,NaT,NaT,NaT,2024-06-04,2024-06-03,2024-06-01,665de30421f01dc021e263e0,6641ce5e54928440d2c32a67,87000,6641ce5e54928440d2c32a67,NB
449,665de6c35f558d4949776a66,True,shipped,0,0,87000.0,87000,87000,,0,0,None,0,435,0,NaN,KRW,0,0.00,0,False,[이송이][37%]맥스컷 다이어트 핏3.1 1통 + 맥스컷 프로 1박스,dodo7187@naver.com,허지원,010-2625-5550,허지원,42169,대구 수성구 두산동 34-9,3층 (미용실있는건물),010-2625-5550,,False,requested,6647016fcf741eabfbcc0118,None,"[0000011, 010, 1박스, 1통, 20240604, 2625, 3...",2024-06-04 07:00:40.271000+00:00,2024-06-03 15:52:35.612000+00:00,20240604-0000011,1.00,카드,665de6e9707800084072ed4b,2024-06-03 15:53:13.553000+00:00,카드,카드 (롯데카드),6091444389581,2024-06-04 07:00:40.266000+00:00,shipped,EPOST,NaT,NaT,롯데카드,NaN,6621bdbffc93412efa01324f,NaN,NaT,NaN,NaN,NaT,2024-06-04 16:00:40.271000+09:00,2024-06-04 00:52:35.612000+09:00,2024-06-04 00:53:13.553000+09:00,2024-06-04 16:00:40.266000+09:00,NaT,NaT,NaT,2024-06-04,2024-06-03,2024-06-01,665de6c35f558d4949776a66,6641d2b954928440d2c32c14,87000,6641d2b954928440d2c32c14,NB
450,665e298021f01dc021e2642a,True,shipped,0,0,36000.0,36000,36000,,0,0,None,0,180,0,NaN,KRW,0,0.00,0,False,[주주][31%]맥스컷 프로 1박스,bogyeong6023@daum.net,장보경,010-5543-6023,장보경,31162,충남 천안시 서북구 번영로 156,1층 청년담당관,010-5543-6023,부재시 전화 또는 문자 주세요.,False,requested,66533fa7ee96d3e5c26d74af,665a035dc8c7b22993de3e8f,"[0000023, 010, 156, 1박스, 1층, 20240604, 31...",2024-06-04 07:00:40.116000+00:00,2024-06-03 20:37:20.366000+00:00,20240604-0000023,1.00,네이버페이,665e299b5f558d4949776a93,2024-06-03 20:37:47.876000+00:00,간편결제,네이버페이,6091444389579,2024-06-04 07:00:40.113000+00:00,shipped,EPOST,NaT,NaT,NaN,네이버페이,664193cf54928440d2c32987,NaN,NaT,NaN,NaN,NaT,2024-06-04 16:00:40.116000+09:00,2024-06-04 05:37:20.366000+09:00,2024-06-04 05:37:47.876000+09:00,2024-06-04 16:00:40.113000+09:00,NaT,NaT,NaT,2024-06-04,2024-06-03,2024-06-01,665e298021f01dc021e2642a,663ad97fcf0fcf4babb61308,36000,663ad97fcf0fcf4babb61308,NB
451,665e3d235f558d4949776a99,True,shipped,0,0,53500.0,53500,53500,,0,0,None,0,267,0,NaN,KRW,0,0.00,0,False,[주주][38%]맥스컷 다이어트 핏3.1 1박스,dal3150@naver.com,임연주,010-8918-3733,임연주,49318,부산 사하구 사리로55번길 11,7동 505호,010-8918-3733,,False,requested,6656cc8eee96d3e5c26d7675,None,"[0000027, 010, 11, 1박스, 20240604, 3733, 38,...",2024-06-04 07:00:40+00:00,2024-06-03 22:01:07.353000+00:00,20240604-0000027,1.00,카카오페이,665e3d4621f01dc021e26443,2024-06-03 22:01:42.069000+00:00,간편결제,카카오페이,6091444389584,2024-06-04 07:00:39.995000+00:00,shipped,EPOST,NaT,NaT,NaN,카카오페이,664193cf54928440d2c32987,NaN,NaT,NaN,NaN,NaT,2024-06-04 16:00:40+09:00,2024-06-04 07:01:07.353000+09:00,2024-06-04 07:01:42.069000+09:00,2024-06-04 16:00:39.995000+09:00,NaT,NaT,NaT,2024-06-04,2024-06-03,2024-06-01,665e3d235f558d4949776a99,663dde51187079c91cd14eb9,53500,663dde51187079c91cd14eb9,NB
452,665ed58c704230f8f2e0cf4d,True,paid,0,0,98000.0,98000,98000,,0,0,None,0,490,0,NaN,KRW,0,0.00,0,False,[정지혜][37%]맥스컷 프로 3박스,skfkdsk@naver.com,김영미,010-9154-4141,김영미,14989,경기 시흥시 목감둘레로 80,605동1601호,010-9154-4141,배송전 연락주세요.,False,requested,66587ce2ee96d3e5c26d7713,None,"[0000102, 010, 20240604, 37, 3박스, 4141, 605...",2024-06-04 08:52:36.287000+00:00,2024-06-04 08:51:24.831000+00:00,20240604-0000102,1.00,카드,665ed5d421f01dc021e26618,2024-06-04 08:52:36.282000+00:00,카드,카드 (NH농협카드),NaN,NaT,NaN,NaN,NaT,NaT,NH농협카드,NaN,66419021739b3f9e04e3e307,NaN,NaT,NaN,NaN,NaT,2024-06-04 17:52:36.287000+09:00,2024-06-04 17:51:24.831000+09:00,2024-06-04 17:52:36.282000+09:00,NaT,NaT,NaT,NaT,2024-06-04,2024-06-03,2024-06-01,665ed58c704230f8f2e0cf4d,6639c21e50b82c0001828ffc,98000,6639c21e50b82c0001828ffc,NB

### 전체 매출 (tr_df)

In [61]:
tr_df = mo_df.groupby('regdate').agg(
    trevenue=pd.NamedAgg(column='actual_price', aggfunc='sum'),
    tcount=pd.NamedAgg(column='_id', aggfunc=pd.Series.nunique),
    shipfee=pd.NamedAgg(column='shipping_fee_total', aggfunc='sum')
).reset_index()

In [62]:
tr_df

       regdate  trevenue  tcount  shipfee
0   2024-03-01   1831407      23 15000.00
1   2024-03-02   1185452      17 21000.00
2   2024-03-03   1570400      21 30000.00
3   2024-03-04   1477945      20 21000.00
4   2024-03-05   2513716      33 24000.00
..         ...       ...     ...      ...
92  2024-06-01   1146992      15 15000.00
93  2024-06-02   6200005      72 21000.00
94  2024-06-03  10005584     122 30000.00
95  2024-06-04   7941855      92 15000.00
96  2024-06-05   1958653      22  6000.00

[97 rows x 4 columns]

In [63]:
result_df = tr_df.merge(lr_df, on='regdate', how='left')\
    .merge(dpr_df, on='regdate', how='inner')\
    .fillna(0).sort_values('regdate', ascending=False)

In [64]:
result_df['nrevenue'] = result_df['trevenue'] - result_df['lrevenue']

In [65]:
result_df['nshipfee'] = result_df['shipfee'] - result_df['lshipfee']

In [66]:
rcols = ['NBR',	'NPBR',	'OBR',	'PBR']
for vcol in rcols:
    print(f"{vcol}p")
    result_df[f"{vcol}p"] = (result_df['nrevenue']-result_df['nshipfee'])*(result_df[vcol])

NBRp
NPBRp
OBRp
PBRp

In [67]:
result_df

,regdate,trevenue,tcount,shipfee,lrevenue,lcount,lshipfee,NBR,NPBR,OBR,PBR,nrevenue,nshipfee,NBRp,NPBRp,OBRp,PBRp
96,2024-06-05,1958653,22,6000.00,0.00,0.00,0.00,0.00,0.31,0.67,0.02,1958653.00,6000.00,0.00,602350.37,1317000.07,33302.56
95,2024-06-04,7941855,92,15000.00,361500.00,5.00,0.00,0.00,0.19,0.80,0.01,7580355.00,15000.00,0.00,1444754.08,6082463.31,38137.62
94,2024-06-03,10005584,122,30000.00,87000.00,1.00,0.00,0.02,0.30,0.65,0.03,9918584.00,30000.00,184095.98,2995017.54,6449593.19,259877.29
93,2024-06-02,6200005,72,21000.00,270000.00,3.00,0.00,0.00,0.48,0.48,0.04,5930005.00,21000.00,0.00,2854490.02,2810390.03,244124.95
92,2024-06-01,1146992,15,15000.00,572092.00,6.00,0.00,0.21,0.34,0.00,0.45,574900.00,15000.00,114838.73,192376.90,0.00,252684.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2024-03-05,2513716,33,24000.00,710000.00,8.00,0.00,0.20,0.64,0.00,0.16,1803716.00,24000.00,357067.51,1134666.96,0.00,287981.53
3,2024-03-04,1477945,20,21000.00,0.00,0.00,0.00,0.09,0.69,0.00,0.22,1477945.00,21000.00,127104.81,1009477.18,0.00,320363.01
2,2024-03-03,1570400,21,30000.00,405000.00,3.00,0.00,0.33,0.55,0.00,0.12,1165400.00,30000.00,378630.02,619451.66,0.00,137318.32
1,2024-03-02,1185452,17,21000.00,172000.00,2.00,0.00,0.06,0.71,0.00,0.23,1013452.00,21000.00,59651.87,706607.98,0.00,226192.15
0,2024-03-01,1831407,23,15000.00,69000.00,1.00,0.00,0.00,0.76,0.00,0.24,1762407.00,15000.00,0.00,1329968.74,0.00,417438.26

In [167]:
# 'regdate' 컬럼을 datetime 형식으로 변환
result_df['regdate'] = pd.to_datetime(result_df['regdate'])

       regdate  trevenue  tcount  lrevenue  lcount  nrevenue
14  2024-06-02   6389005      73    270000       3   6119005
13  2024-06-01   1146992      15    572092       6    574900
12  2024-05-31   1262402      16    368700       4    893702
11  2024-05-30   1324073      18    654307       8    669766
10  2024-05-29    737295       7    506795       3    230500
9   2024-05-28    998118      13    255500       3    742618
8   2024-05-27   2242580      38    187753       3   2054827
7   2024-05-26   1091850      11    555950       5    535900
6   2024-05-25   1142762      16    183862       4    958900
5   2024-05-24   1308220      18    382198       6    926022
4   2024-05-23   2013494      23    981391       8   1032103
3   2024-05-22   1562100      23     32700       1   1529400
2   2024-05-21   1840373      22    494773       6   1345600
1   2024-05-20   3320920      47   1146930      16   2173990
0   2024-05-19   2389415      26    171725       3   2217690

In [ ]:
# 주별 데이터 추출
result_df['regdate_week'] = result_df['regdate'].dt.to_period('W').apply(lambda r: r.start_time if pd.notna(r) else pd.NaT)

# 월별 데이터 추출
result_df['regdate_month'] = result_df['regdate'].dt.to_period('M').apply(lambda r: r.start_time if pd.notna(r) else pd.NaT)

In [99]:
result_df

,regdate,trevenue,tcount,shipfee,lrevenue,lcount,lshipfee,NBR,NPBR,OBR,PBR,nrevenue,nshipfee,NBRp,NPBRp,OBRp,PBRp,regdate_week,regdate_month
96,2024-06-05,1958653,22,6000.00,0.00,0.00,0.00,0.00,0.31,0.67,0.02,1958653.00,6000.00,0.00,602350.37,1317000.07,33302.56,2024-06-03,2024-06-01
95,2024-06-04,7941855,92,15000.00,361500.00,5.00,0.00,0.00,0.19,0.80,0.01,7580355.00,15000.00,0.00,1444754.08,6082463.31,38137.62,2024-06-03,2024-06-01
94,2024-06-03,10005584,122,30000.00,87000.00,1.00,0.00,0.02,0.30,0.65,0.03,9918584.00,30000.00,184095.98,2995017.54,6449593.19,259877.29,2024-06-03,2024-06-01
93,2024-06-02,6200005,72,21000.00,270000.00,3.00,0.00,0.00,0.48,0.48,0.04,5930005.00,21000.00,0.00,2854490.02,2810390.03,244124.95,2024-05-27,2024-06-01
92,2024-06-01,1146992,15,15000.00,572092.00,6.00,0.00,0.21,0.34,0.00,0.45,574900.00,15000.00,114838.73,192376.90,0.00,252684.37,2024-05-27,2024-06-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2024-03-05,2513716,33,24000.00,710000.00,8.00,0.00,0.20,0.64,0.00,0.16,1803716.00,24000.00,357067.51,1134666.96,0.00,287981.53,2024-03-04,2024-03-01
3,2024-03-04,1477945,20,21000.00,0.00,0.00,0.00,0.09,0.69,0.00,0.22,1477945.00,21000.00,127104.81,1009477.18,0.00,320363.01,2024-03-04,2024-03-01
2,2024-03-03,1570400,21,30000.00,405000.00,3.00,0.00,0.33,0.55,0.00,0.12,1165400.00,30000.00,378630.02,619451.66,0.00,137318.32,2024-02-26,2024-03-01
1,2024-03-02,1185452,17,21000.00,172000.00,2.00,0.00,0.06,0.71,0.00,0.23,1013452.00,21000.00,59651.87,706607.98,0.00,226192.15,2024-02-26,2024-03-01
0,2024-03-01,1831407,23,15000.00,69000.00,1.00,0.00,0.00,0.76,0.00,0.24,1762407.00,15000.00,0.00,1329968.74,0.00,417438.26,2024-02-26,2024-03-01

## 노션 뿌르기

In [68]:
skey = "secret_dT8QCZpjJCZPER37sETWJ56WqrItPQT3bjgldn4Y0vl"
page_id = "2c220f714e6d485ab5ac73c455afbfb5"
db_id = "43fb5f1bd9d14abd9ec07fce1172b8b5"

In [69]:
from notion_client import Client

In [70]:
notion = Client(auth=skey)

In [166]:
# 그냥 텍스트로 테스트하기
for _, row in result_df[['regdate', 'trevenue', 'tcount', 'lrevenue', 'lcount', 'nrevenue']].iterrows():
    children = [
        {
            "object": "block",
            "type": "paragraph",
            "paragraph": {
                "rich_text": [
                    {
                        "type": "text",
                        "text": {
                            "content": f"{row['regdate']} | {row['trevenue']} | {row['tcount']} | {row['lrevenue']} | {row['lcount']} | {row['nrevenue']}"
                        }
                    }
                ]
            }
        }
    ]
    notion.blocks.children.append(block_id=page_id, children=children)

In [71]:
#['regdate', 'trevenue', 'tcount', 'lrevenue', 'lcount', 'nrevenue']
def add_data_to_notion(row):
    new_page = {
        "parent": {"database_id": db_id},
        "properties": {
            "일자": {
                "title": [
                    {
                        "text": {
                            "content": str(row['regdate'])
                        }
                    }
                ]
            },
            "전체 매출": {
                "number": row["trevenue"]
            },
            "매출 건": {
                "number": row["tcount"]
            },
            "리워드링킹 매출": {
                "number": row["lrevenue"]
            },
            "리워드링킹 건": {
                "number": row["lcount"]
            },
            "일반 매출": {
                "number": row["nrevenue"]
            }
        }
    }

    notion.pages.create(**new_page)

In [126]:
def format_date(date_str):
    # 문자열을 datetime 객체로 변환
    date_obj = datetime.strptime(date_str, "%Y-%m-%d %H:%M:%S")
    # 시분초를 제외한 문자열로 변환
    return date_obj.strftime("%Y-%m-%d")

In [130]:
def add_or_update_data_in_notion(row):
    # 일자(날짜) 값
    regdate = str(row['regdate'])

    # 데이터베이스에서 일자(날짜)로 페이지 검색
    response = notion.databases.query(
        **{
            "database_id": db_id,
            "filter": {
                "property": "일자",
                "title": {
                    "equals": regdate
                }
            }
        }
    )

    # 페이지가 이미 존재하는 경우 업데이트
    if response['results']:
        page_id = response['results'][0]['id']
        notion.pages.update(
            **{
                "page_id": page_id,
                "properties": {
                    "전체 매출": {
                        "number": row["trevenue"]
                    },
                    "매출 건": {
                        "number": row["tcount"]
                    },
                    "리워드링킹 매출": {
                        "number": row["lrevenue"]
                    },
                    "리워드링킹 건": {
                        "number": row["lcount"]
                    },
                    "일반 매출": {
                        "number": row["nrevenue"]
                    },
                    "주차": {
                        "rich_text": [
                            {
                                "text": {
                                    "content": format_date(str(row["regdate_week"]))
                                }
                            }
                        ]
                    },
                    "월": {
                        "date": {
                            "start": str(row["regdate_month"])
                        }
                    }
                }
            }
        )
    # 페이지가 존재하지 않는 경우 새로 생성
    else:
        new_page = {
            "parent": {"database_id": db_id},
            "properties": {
                "일자": {
                    "title": [
                        {
                            "text": {
                                "content": regdate
                            }
                        }
                    ]
                },
                "전체 매출": {
                    "number": row["trevenue"]
                },
                "매출 건": {
                    "number": row["tcount"]
                },
                "리워드링킹 매출": {
                    "number": row["lrevenue"]
                },
                "리워드링킹 건": {
                    "number": row["lcount"]
                },
                "일반 매출": {
                    "number": row["nrevenue"]
                },
                "주차": {
                    "rich_text": [
                        {
                            "text": {
                                "content": format_date(str(row["regdate_week"]))
                            }
                        }
                    ]
                },
                "월": {
                    "date": {
                        "start": str(row["regdate_month"])
                    }
                }
            }
        }
        notion.pages.create(**new_page)

In [134]:
for index, row in result_df[['regdate', 'trevenue', 'tcount', 'lrevenue', 'lcount', 'nrevenue', 'regdate_week', 'regdate_month']].iterrows():
    add_or_update_data_in_notion(row)
    
    time.sleep(0.5)

In [106]:
str(row["regdate_week"])

,regdate,trevenue,tcount,shipfee,lrevenue,lcount,lshipfee,NBR,NPBR,OBR,PBR,nrevenue,nshipfee,NBRp,NPBRp,OBRp,PBRp,regdate_week,regdate_month
96,2024-06-05,1958653,22,6000.00,0.00,0.00,0.00,0.00,0.31,0.67,0.02,1958653.00,6000.00,0.00,602350.37,1317000.07,33302.56,2024-06-03,2024-06-01
95,2024-06-04,7941855,92,15000.00,361500.00,5.00,0.00,0.00,0.19,0.80,0.01,7580355.00,15000.00,0.00,1444754.08,6082463.31,38137.62,2024-06-03,2024-06-01
94,2024-06-03,10005584,122,30000.00,87000.00,1.00,0.00,0.02,0.30,0.65,0.03,9918584.00,30000.00,184095.98,2995017.54,6449593.19,259877.29,2024-06-03,2024-06-01
93,2024-06-02,6200005,72,21000.00,270000.00,3.00,0.00,0.00,0.48,0.48,0.04,5930005.00,21000.00,0.00,2854490.02,2810390.03,244124.95,2024-05-27,2024-06-01
92,2024-06-01,1146992,15,15000.00,572092.00,6.00,0.00,0.21,0.34,0.00,0.45,574900.00,15000.00,114838.73,192376.90,0.00,252684.37,2024-05-27,2024-06-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2024-03-05,2513716,33,24000.00,710000.00,8.00,0.00,0.20,0.64,0.00,0.16,1803716.00,24000.00,357067.51,1134666.96,0.00,287981.53,2024-03-04,2024-03-01
3,2024-03-04,1477945,20,21000.00,0.00,0.00,0.00,0.09,0.69,0.00,0.22,1477945.00,21000.00,127104.81,1009477.18,0.00,320363.01,2024-03-04,2024-03-01
2,2024-03-03,1570400,21,30000.00,405000.00,3.00,0.00,0.33,0.55,0.00,0.12,1165400.00,30000.00,378630.02,619451.66,0.00,137318.32,2024-02-26,2024-03-01
1,2024-03-02,1185452,17,21000.00,172000.00,2.00,0.00,0.06,0.71,0.00,0.23,1013452.00,21000.00,59651.87,706607.98,0.00,226192.15,2024-02-26,2024-03-01
0,2024-03-01,1831407,23,15000.00,69000.00,1.00,0.00,0.00,0.76,0.00,0.24,1762407.00,15000.00,0.00,1329968.74,0.00,417438.26,2024-02-26,2024-03-01

## 여기까지 진행함.

### 아래는 테스트

### 주문 & 주문아이템

In [82]:
orders = prd_db['orders']
orders_df = pd.DataFrame(list(orders.find()))

In [18]:
orders_ids = ['_id', 'user_id', 'linked_payment_id', 'user_coupon_id']

tf_idlist(orders_df, orders_ids)

In [19]:
convertUtcToKst(orders_df, [col for col in orders_df.columns if col.endswith('_at')])

In [20]:
orders_df.tail()

,_id,is_visible,status,price_total,discounted_price,adjust_price,special_instructions,coupon_total,point,point_total,currency,item_count,shipping_fee_total,payment_total,title,email,orderer,orderer_phone,recipient,post_code,address,address_detail,recipient_phone,is_deleted,aasm_state,user_id,_keywords,updated_at,created_at,point_items_count,shipping_invoice,shipping_started_at,shipping_state,shipping_vendor,delivered_at,completed_at,actual_price,is_order_disabled,number,discounted_price_by_coupon,discounted_price_by_point,net_price,reward_point_by_coupon,reward_point_by_purchase,paid_at,payment_method,current_payment_method,easy_pay_provider,payment_method_detail,shipping_message,toss_card_vendor_name,virtual_account_customer_name,virtual_account_due_date,virtual_account_number,virtual_account_vendor_name,canceled_at,linked_payment_id,user_coupon_id,seller_id,updated_at_kst,created_at_kst,shipping_started_at_kst,delivered_at_kst,completed_at_kst,paid_at_kst,canceled_at_kst
22332,66591c3aee96d3e5c26d7739,True,processing,0,0,129000.0,,10000,0,None,KRW,0,0.0,0,[율스라이프][52%] 킨더비타 2종 X 3박스(총60포),mi-ya82@hanmail.net,심은영,010-9797-7465,심은영,21685,인천 남동구 논고개로 17,1110동 1404호,010-9797-7465,False,requested,66591c12ee96d3e5c26d7733,"[0000008, 010, 1110동, 1404호, 17, 20240531, ...",2024-05-31 00:40:11.168000+00:00,2024-05-31 00:39:22.494000+00:00,1.0,NaN,NaT,NaN,NaN,NaT,NaT,119000,False,20240531-0000008,10000,NaN,119000,0,595,2024-05-31 00:40:11.163000+00:00,카드,카드,NaN,카드 (삼성카드),부재시 문앞에 놓아 주세요.,삼성카드,NaN,NaT,NaN,NaN,NaT,66591c6b57a59b078a5e6a4a,66591c12ee96d3e5c26d7734,NaN,2024-05-31 09:40:11.168000+09:00,2024-05-31 09:39:22.494000+09:00,NaT,NaT,NaT,2024-05-31 09:40:11.163000+09:00,NaT
22333,665931a757a59b078a5e6a53,True,processing,0,0,122500.0,,10000,0,None,KRW,0,0.0,0,[곽지혜][38%]맥스컷 다이어트 핏3.1 1박스 외 1건,yujin.koo@gmail.com,구유진,010-2693-3174,구유진,11790,경기 의정부시 용민로 10,1107-2304,010-2693-3174,False,requested,66592d481a39085b5c332e63,"[0000009, 010, 10, 1107, 1건, 1박스, 2024053...",2024-05-31 02:11:37.931000+00:00,2024-05-31 02:10:47.623000+00:00,1.0,NaN,NaT,NaN,NaN,NaT,NaT,112500,False,20240531-0000009,10000,NaN,112500,0,562,2024-05-31 02:11:37.927000+00:00,카드,카드,NaN,카드 (우리카드),부재시 문앞에 놓아 주세요.,우리카드,NaN,NaT,NaN,NaN,NaT,665931d957a59b078a5e6a5a,66592d481a39085b5c332e67,6656d3c51a39085b5c332d93,2024-05-31 11:11:37.931000+09:00,2024-05-31 11:10:47.623000+09:00,NaT,NaT,NaT,2024-05-31 11:11:37.927000+09:00,NaT
22334,665939cc095ab4b76ee5d0f6,True,processing,0,0,116000.0,,10000,0,None,KRW,0,0.0,0,[44%]W밸런스 유산균 4박스,dldnt22@naver.com,김수희,010-4415-0781,김수희,41767,대구 서구 서대구로29길 30,723-1303,010-4415-0781,False,requested,6659398dee96d3e5c26d7758,"[0000010, 010, 0781, 1303, 20240531, 30, 44, 4...",2024-05-31 02:46:57.556000+00:00,2024-05-31 02:45:32.176000+00:00,1.0,NaN,NaT,NaN,NaN,NaT,NaT,106000,False,20240531-0000010,10000,NaN,106000,0,530,2024-05-31 02:46:57.551000+00:00,카드,카드,NaN,카드 (KB국민카드),,KB국민카드,NaN,NaT,NaN,NaN,NaT,66593a21ee96d3e5c26d7763,6659398dee96d3e5c26d7759,NaN,2024-05-31 11:46:57.556000+09:00,2024-05-31 11:45:32.176000+09:00,NaT,NaT,NaT,2024-05-31 11:46:57.551000+09:00,NaT
22335,665939ccee96d3e5c26d775d,True,failed,0,0,116000.0,,10000,0,None,KRW,0,0.0,0,[44%]W밸런스 유산균 4박스,dldnt22@naver.com,김수희,010-4415-0781,김수희,41767,대구 서구 서대구로29길 30,723-1303,010-4415-0781,False,requested,6659398dee96d3e5c26d7758,"[0000011, 010, 0781, 1303, 20240531, 30, 44, 4...",2024-05-31 02:56:40.559000+00:00,2024-05-31 02:45:32.636000+00:00,1.0,NaN,NaT,NaN,NaN,NaT,NaT,106000,False,20240531-0000011,10000,NaN,106000,0,530,NaT,NaN,NaN,NaN,NaN,,NaN,NaN,NaT,NaN,NaN,NaT,nan,6659398dee96d3e5c26d7759,NaN,2024-05-31 11:56:40.559000+09:00,2024-05-31 11:45:32.636000+09:00,NaT,NaT,NaT,NaT,NaT
22336,665969281a39085b5c332e9a,True,paid,0,0,82600.0,,0,0,None,KRW,0,0.0,0,[25%]힌트 리스펙타 질유산균 2박스(2개월분),shoiy@naver.com,정지수,010-7150-9412,정지수,10473,경기 고양시 덕양구 화중로 222,204동 104호,010-7150-9412,False,requested,66593c49ee96d3e5c26d7765,"[0000012, 010, 104호, 20240531, 204동, 222, 2...",2024-05-31 06:08:33.265000+00:00,2024-05-31 06:07:36.296000+00:00,1.0,NaN,NaT,NaN,NaN,NaT,NaT,82600,False,20240531-0000012,0,NaN,82600,0,413,2024-05-31 06:08:33.261000+00:00,간편결제,네이버페이,네이버페이,네이버페이,부재시 문앞에 놓아 주세요.,NaN,NaN,NaT,NaN,NaN,NaT,665969611a39085b5c332e9f,None,NaN,2024-05-31 15:08:33.265000+09:00,2024-05-31 15:07:36.296000+09:00,NaT,NaT,NaT,2024-05-31 15:08:33.261000+09:00,NaT

In [21]:
order_items = prd_db['order_items']
oi_df = pd.DataFrame(list(order_items.find()))

In [22]:
oi_ids = ['_id', 'pdp_id', 'product_set_id', 'product_id', 'order_id']
tf_idlist(oi_df, oi_ids)

In [23]:
convertUtcToKst(oi_df, [col for col in oi_df.columns if col.endswith('_at')])

In [56]:
oi_df['regdate'] = pd.to_datetime(oi_df['created_at_kst']).dt.date

In [61]:
comparison_date = pd.to_datetime('2024-05-28').date()
oi_df[lambda x:x['regdate']>comparison_date]

,_id,is_visible,count,pdp_id,product_set_id,product_id,adjust_price,title,is_deleted,aasm_state,order_id,total_price,updated_at,created_at,number,seller_id,updated_at_kst,created_at_kst,regdate
23723,664b6ac9cf741eabfbcc0417,True,1,664a22aa6157e417adb9cd64,664a22aa6157e417adb9cd6d,664a22aa6157e417adb9cd6b,199000.0,[75%]김말레 퍼펙트샷 콜레다운 9박스(90개입/3달플랜),False,requested,664b6ac8cf741eabfbcc0416,199000,2024-05-20 15:22:49.010000+00:00,2024-05-20 15:22:49.010000+00:00,20240521-0000001-001,NaN,2024-05-21 00:22:49.010000+09:00,2024-05-21 00:22:49.010000+09:00,2024-05-21
23724,664b6b3fa5dd1ebf4dc2b93b,True,1,664a22aa6157e417adb9cd64,664a22aa6157e417adb9cd6d,664a22aa6157e417adb9cd6b,199000.0,[75%]김말레 퍼펙트샷 콜레다운 9박스(90개입/3달플랜),False,requested,664b6b3ea5dd1ebf4dc2b93a,199000,2024-05-20 15:24:47.010000+00:00,2024-05-20 15:24:47.010000+00:00,20240521-0000002-001,NaN,2024-05-21 00:24:47.010000+09:00,2024-05-21 00:24:47.010000+09:00,2024-05-21
23725,664b6cf73f1db77d16d4c523,True,1,64e347336c69740001184a7f,64ec6a1378240a00012fb5b3,64ec69c68602e70001b8f9e1,69000.0,[34%]W밸런스 유산균 2박스,False,requested,664b6cf73f1db77d16d4c522,69000,2024-05-20 15:32:07.614000+00:00,2024-05-20 15:32:07.614000+00:00,20240521-0000003-001,NaN,2024-05-21 00:32:07.614000+09:00,2024-05-21 00:32:07.614000+09:00,2024-05-21
23726,664b6d38a5dd1ebf4dc2b945,True,1,64e347336c69740001184a7f,64ec6a1378240a00012fb5b3,64ec69c68602e70001b8f9e1,69000.0,[34%]W밸런스 유산균 2박스,False,requested,664b6d38a5dd1ebf4dc2b944,69000,2024-05-20 15:33:12.759000+00:00,2024-05-20 15:33:12.759000+00:00,20240521-0000004-001,NaN,2024-05-21 00:33:12.759000+09:00,2024-05-21 00:33:12.759000+09:00,2024-05-21
23727,664be53d6157e417adb9ceb4,True,1,6566c34a593b0100015cd916,6566c34a593b0100015cd92c,6566c34a593b0100015cd92a,5900.0,[84%][LUCKY]스피루리나 솔루션 페이셜 오일,False,requested,664be53d6157e417adb9ceb3,5900,2024-05-21 00:05:17.430000+00:00,2024-05-21 00:05:17.430000+00:00,20240521-0000005-001,NaN,2024-05-21 09:05:17.430000+09:00,2024-05-21 09:05:17.430000+09:00,2024-05-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24012,665931a757a59b078a5e6a54,True,1,664f1f3446d8c711f29b617c,664f1f3446d8c711f29b618a,664f1f3446d8c711f29b6188,53500.0,[곽지혜][38%]맥스컷 다이어트 핏3.1 1박스,False,requested,665931a757a59b078a5e6a53,53500,2024-05-31 02:10:47.756000+00:00,2024-05-31 02:10:47.632000+00:00,20240531-0000009-001,6656d3c51a39085b5c332d93,2024-05-31 11:10:47.756000+09:00,2024-05-31 11:10:47.632000+09:00,2024-05-31
24013,665931a757a59b078a5e6a55,True,1,664f1f3b1683f121af041d59,664f1f3b1683f121af041d6c,664f1f3b1683f121af041d6a,69000.0,[곽지혜][34%]맥스컷 프로 2박스,False,requested,665931a757a59b078a5e6a53,69000,2024-05-31 02:10:47.739000+00:00,2024-05-31 02:10:47.633000+00:00,20240531-0000009-002,6656d3c51a39085b5c332d93,2024-05-31 11:10:47.739000+09:00,2024-05-31 11:10:47.633000+09:00,2024-05-31
24014,665939cc095ab4b76ee5d0f7,True,1,64e347336c69740001184a7f,64ec6a2f24a0a6000154e57d,64ec69de8602e70001b8f9e3,116000.0,[44%]W밸런스 유산균 4박스,False,requested,665939cc095ab4b76ee5d0f6,116000,2024-05-31 02:45:32.185000+00:00,2024-05-31 02:45:32.185000+00:00,20240531-0000010-001,NaN,2024-05-31 11:45:32.185000+09:00,2024-05-31 11:45:32.185000+09:00,2024-05-31
24015,665939ccee96d3e5c26d775e,True,1,64e347336c69740001184a7f,64ec6a2f24a0a6000154e57d,64ec69de8602e70001b8f9e3,116000.0,[44%]W밸런스 유산균 4박스,False,requested,665939ccee96d3e5c26d775d,116000,2024-05-31 02:45:32.645000+00:00,2024-05-31 02:45:32.645000+00:00,20240531-0000011-001,NaN,2024-05-31 11:45:32.645000+09:00,2024-05-31 11:45:32.645000+09:00,2024-05-31
24016,665969281a39085b5c332e9b,True,1,652cc8bdbc1dd9000118fd1e,652cc83a0a6c7300019849b5,652cc7c3bc1dd9000118fd1a,82600.0,[25%]힌트 리스펙타 질유산균 2박스(2개월분),False,requested,665969281a39085b5c332e9a,82600,2024-05-31 06:07:36.306000+00:00,2024-05-31 06:07:36.306000+00:00,20240531-0000012-001,NaN,2024-05-31 15:07:36.306000+09:00,2024-05-31 15:07:36.306000+09:00,2024-05-31

In [47]:
pdps = prd_db['pdps']
pdp_df = pd.DataFrame(list(pdps.find()))
pdp_df.tail()

,_id,is_visible,content_images,favorite_items_count,stars,pdp_type,delivery_fee,plp_type,brand,title,product_presentation_group_ids,temp_product_category,keywords,hidden_keywords,default_price,discount_price,discount_ratio,adjust_price,comment,is_deleted,_keywords,updated_at,created_at,pdp_product_sets_count,is_searchable,brand_type,is_member_only,is_purchasable,purchase_button_text,use_purchasable_thumbnail,presentation,content,usage,sale_info,deleted_at
737,6657dc35ee96d3e5c26d76c9,True,None,1,"[0, 0, 0, 0, 0]",G,3000,small,헬스헬퍼,[워니쌤]베어포스 아르기닌 6000,[],NaN,"아르기닌,초고함량,운동전꼭,활력증진",,28000,0,65,9900,NaN,False,"[6000, 베어포스, 아르기닌, 운동전꼭, 워니...",2024-05-30 01:55:04.898,2024-05-30 01:53:51.876,24.0,False,NB,True,False,sold out,True,,,,,NaT
738,6657dc451a39085b5c332ddb,True,None,1,"[0, 0, 0, 0, 0]",G,3000,small,줄리스초이스,[워니쌤]에버글로우 피에스트로,[],NaN,"고농축글루타치온,뷰티스틱,기미개선",,65000,0,32,43900,NaN,False,"[고농축글루타치온, 기미개선, 뷰티스틱, ᄋ...",2024-05-30 01:54:53.253,2024-05-30 01:54:06.998,21.0,False,NB,True,True,,False,,,,,NaT
739,6657dc4957a59b078a5e69c3,True,None,0,"[0, 0, 0, 0, 0]",G,3000,small,줄리스초이스,[워니쌤]에버비타민 W,[],NaN,"고함량,활력비타민,멀티비타민,","간편섭취,하루한포,",55000,0,38,33900,NaN,False,"[간편섭취, 고함량, 멀티비타민, 에버비타...",2024-05-30 01:54:46.214,2024-05-30 01:54:13.039,39.0,False,NB,True,True,,False,[최사라]에버비타민 W,,,,NaT
740,66592c31ee96d3e5c26d7745,False,None,0,"[0, 0, 0, 0, 0]",G,3000,small,리라신,[주은주] 리라신 데미지 컨트롤 라인,"[653ef4079ed1f20001981ef9, 63e07b73937fb9bd16c...",NaN,"리라신, 데미지, 데미지 컨트롤 팩, 데미지 컨트롤 겔","리라신, 라라신, 데미지, 데미지 컨트롤 팩, 데미지 컨트롤 겔",50000,0,0,50000,NaN,False,"[겔, 데미지, 라라신, 라인, 리라신, 주은주...",2024-05-31 03:41:32.707,2024-05-31 01:47:29.811,20.0,True,OB,False,False,06.02.20:00 OPEN,True,[주은주] 리라신 데미지 컨트롤 라인,,,,NaT
741,665944a11a39085b5c332e78,False,None,0,"[0, 0, 0, 0, 0]",G,3000,small,이지듀,[꽁지] 이지듀 3X 항산화 앰플,"[653ef4079ed1f20001981ef9, 63e07b73937fb9bd16c...",NaN,[꽁지] 이지듀 3X 항산화 앰플,[꽁지] 이지듀 3X 항산화 앰플,250000,0,64,89000,NaN,False,"[3x, 꽁지, 앰플, 이지듀, 항산화]",2024-05-31 03:37:04.630,2024-05-31 03:31:45.307,12.0,True,OB,False,False,06.03 19:00 OPEN,True,[꽁지] 이지듀 3X 항산화 앰플,,,,NaT

In [54]:
tf_idlist(pdp_df, [col for col in pdp_df.columns if col.endswith('_id')])

In [50]:
pdp_df.groupby(by='brand_type').agg(
    count = ('_id', 'count')
)

            count
brand_type
NB            641
NPB            19
OB             17
PB             28

In [66]:
# 'adjust_price' 열을 숫자 형식으로 변환
oi_df['adjust_price'] = pd.to_numeric(oi_df['adjust_price'], errors='coerce')

In [68]:
oi_df[lambda x:x['regdate']>comparison_date].merge(pdp_df[['_id', 'brand_type']], left_on='pdp_id', right_on='_id', how='inner')\
    .pivot_table(columns='brand_type', index='regdate', values='adjust_price', aggfunc='sum').reset_index()\
    .sort_values('regdate', ascending=False)

brand_type     regdate         NB        NPB        OB        PB
10          2024-05-31   316800.0   748000.0       NaN  125500.0
9           2024-05-30   921900.0   422000.0       NaN  282300.0
8           2024-05-29   354500.0    99000.0       NaN  168400.0
7           2024-05-28  1234900.0   342500.0       NaN  429500.0
6           2024-05-27  1538700.0   945500.0       NaN  458000.0
5           2024-05-26   742000.0   494000.0       NaN  104900.0
4           2024-05-25   540000.0   619000.0   79900.0  539900.0
3           2024-05-24   402500.0   731000.0       NaN  437500.0
2           2024-05-23  2068500.0   682500.0       NaN  761700.0
1           2024-05-22   150600.0  1274000.0  304500.0  119300.0
0           2024-05-21   572800.0   833500.0  834500.0  436600.0

In [70]:
# 'adjust_price' 열을 숫자 형식으로 변환
orders_df['adjust_price'] = pd.to_numeric(orders_df['adjust_price'], errors='coerce')

In [75]:
orders_df[lambda x:pd.isnull(x['seller_id'])].merge(oi_df, left_on='_id', right_on='order_id', how='inner')

,_id_x,is_visible_x,status,price_total,discounted_price,adjust_price_x,special_instructions,coupon_total,point,point_total,currency,item_count,shipping_fee_total,payment_total,title_x,email,orderer,orderer_phone,recipient,post_code,address,address_detail,recipient_phone,is_deleted_x,aasm_state_x,user_id,_keywords,updated_at_x,created_at_x,point_items_count,shipping_invoice,shipping_started_at,shipping_state,shipping_vendor,delivered_at,completed_at,actual_price,is_order_disabled,number_x,discounted_price_by_coupon,discounted_price_by_point,net_price,reward_point_by_coupon,reward_point_by_purchase,paid_at,payment_method,current_payment_method,easy_pay_provider,payment_method_detail,shipping_message,toss_card_vendor_name,virtual_account_customer_name,virtual_account_due_date,virtual_account_number,virtual_account_vendor_name,canceled_at,linked_payment_id,user_coupon_id,seller_id_x,updated_at_kst_x,created_at_kst_x,shipping_started_at_kst,delivered_at_kst,completed_at_kst,paid_at_kst,canceled_at_kst,_id_y,is_visible_y,count,pdp_id,product_set_id,product_id,adjust_price_y,title_y,is_deleted_y,aasm_state_y,order_id,total_price,updated_at_y,created_at_y,number_y,seller_id_y,updated_at_kst_y,created_at_kst_y,regdate
0,64992b3d84f5c200012d16ec,True,completed,0,0,98500.0,,0,0,0,KRW,0,0.0,0,룸스프레이 1개 외 1건,sjyboom@kakao.com,서지영,010-9072-4469,서지영,01318,서울 도봉구 마들로 859-19,115동508호,010-9072-4469,False,requested,649923bd84f5c200012d16b7,"[0000009, 010, 115동508호, 19, 1개, 1건, 202...",2024-02-29 12:24:56.619000+00:00,2023-06-26 06:07:57.512000+00:00,1.0,6091421247214,2023-06-26 07:58:09.202000+00:00,shipped,EPOST,2023-06-29 09:00:03.971000+00:00,2023-07-03 08:05:11.202000+00:00,98500,False,20230626-0000009,0,0.0,0,0,0,2023-06-26 06:08:18.507000+00:00,간편결제,카카오페이,카카오페이,카카오페이,NaN,NaN,NaN,NaT,NaN,NaN,NaT,nan,nan,NaN,2024-02-29 21:24:56.619000+09:00,2023-06-26 15:07:57.512000+09:00,2023-06-26 16:58:09.202000+09:00,2023-06-29 18:00:03.971000+09:00,2023-07-03 17:05:11.202000+09:00,2023-06-26 15:08:18.507000+09:00,NaT,64992b3d84f5c200012d16ee,True,1,645de543fc934120880e77e6,645de544fc934120880e78b9,645de544fc934120880e78ba,57900.0,비타큐브 눈피로는 차즈기 3통,False,requested,64992b3d84f5c200012d16ec,57900,2024-02-15 14:05:27.766000+00:00,2023-06-26 06:07:57.517000+00:00,20230626-0000009-002,NaN,2024-02-15 23:05:27.766000+09:00,2023-06-26 15:07:57.517000+09:00,2023-06-26
1,64992b3d84f5c200012d16ec,True,completed,0,0,98500.0,,0,0,0,KRW,0,0.0,0,룸스프레이 1개 외 1건,sjyboom@kakao.com,서지영,010-9072-4469,서지영,01318,서울 도봉구 마들로 859-19,115동508호,010-9072-4469,False,requested,649923bd84f5c200012d16b7,"[0000009, 010, 115동508호, 19, 1개, 1건, 202...",2024-02-29 12:24:56.619000+00:00,2023-06-26 06:07:57.512000+00:00,1.0,6091421247214,2023-06-26 07:58:09.202000+00:00,shipped,EPOST,2023-06-29 09:00:03.971000+00:00,2023-07-03 08:05:11.202000+00:00,98500,False,20230626-0000009,0,0.0,0,0,0,2023-06-26 06:08:18.507000+00:00,간편결제,카카오페이,카카오페이,카카오페이,NaN,NaN,NaN,NaT,NaN,NaN,NaT,nan,nan,NaN,2024-02-29 21:24:56.619000+09:00,2023-06-26 15:07:57.512000+09:00,2023-06-26 16:58:09.202000+09:00,2023-06-29 18:00:03.971000+09:00,2023-07-03 17:05:11.202000+09:00,2023-06-26 15:08:18.507000+09:00,NaT,64992b3d84f5c200012d16ed,True,1,645de734fc934120880ef48d,645de735fc934120880ef585,645de735fc934120880ef586,40600.0,룸스프레이 1개,False,requested,64992b3d84f5c200012d16ec,40600,2024-02-15 14:05:27.759000+00:00,2023-06-26 06:07:57.517000+00:00,20230626-0000009-001,NaN,2024-02-15 23:05:27.759000+09:00,2023-06-26 15:07:57.517000+09:00,2023-06-26
2,64992e9484f5c200012d16f5,True,failed,0,0,111000.0,,0,0,0,KRW,0,0.0,0,맥스컷 다이어트 허리업 3통,dbsk928@nextplayer.tv,장유나,010-2027-4213,장유나,05040,서울 광진구 구의동 249-39,101호,010-2027-4213,False,requested,64991fea1e13370001b5ba4c,"[0000011, 010, 101호, 20230626, 2027, 249, 39,...",2023-09-14 12:33:55.316000+00:00,2023-06-26 06:22:12.026000+00:00,1.0,NaN,NaT,NaN,NaN,NaT,NaT,0,False,20230626-0000011,0,0.0,0,0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,nan,nan,NaN,2023-09-14 21:33:55.316000+09:00,2023-06-26 15:22:12.026000+09:00,NaT,NaT,NaT,NaT,NaT,64992e9484f5c200012d16f6,True,1,645de532fc934120880e7259,645de533fc934120880e73a0,645de533fc934120880e73a1,111000.0,맥스컷 다이어트 허리업 3통,False,requested,64992e9484f5c200012d16f5,111000,2024-02-15 14:05:27.706000+00:00,2023-06-26 06:22:12.039000+00:00,20230626-0000011-001,NaN,2024-02-15 23:05:27.706000+09:00,2023-06-26 15:22:12.039000+09:00,2023-06-26
3,64992ea184f5c200012d16fa,True,canceled,0,0,111000.0,,0,0,0,KRW,0,0.0,0,맥스컷 다이어트 허리업 3통,dbsk928@nextplayer.tv,장유나,010-2027-4213,장유나,05040,서울 광진구 구의동 249-39,101호,010-2027-4213,False,requested,64991fea1e13370001b5ba4c,"[0000012, 010, 101호, 20230626, 2027, 249, 39,...",2024-02-15 13:54:57.667000+00:00,2023-06-26 06:22:25.097000+00:00,0.0,NaN,NaT,NaN,NaN,NaT,NaT,101000,False,20230626-0000012,0,0.0,0,0,0,NaT,카드,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,nan,nan,NaN,2024-02-15 22:54:57.667000+09:00,2023-06-26 15:22:25.097000+09:00,NaT,NaT,NaT,NaT,NaT,64992ea184f5c200012d16fb,True,1,645de532fc934120880e7259,645de533fc934120880e73a0,645de533fc934120880e73a1,111000.0,맥스컷 다이어트 허리업 3통,False,requested,64992ea184f5c200012d16fa,111000,2024-02-15 14:05:27.676000+00:00,2023-06-26 06:22:25.107000+00:00,20230626-0000012-001,NaN,2024-02-15 23:05:27.676000+09:00,2023-06-26 15:22:25.107000+09:00,2023-06-26
4,6499483484f5c200012d172d,True,canceled,0,0,159800.0,,0,0,0,KRW,0,0.0,0,탄력 광채 부스터 세트-에버글로우 피에스트로 (30포) 1개+더마 뷰티 콜라겐 앰플...,lover3207@nate.com,차동헌b,010-8982-8812,차동헌b,04085,서울 마포구 합정동 91-4,202호,010-8982-8812,False,requested,64991ded1e13370001b5ba41,"[0000013, 010, 1개, 20230626, 202호, 30포, 649...",2024-02-15 13:54:58.826000+00:00,2023-06-26 08:11:32.034000+00:00,0.0,NaN,NaT,NaN,NaN,NaT,NaT,149800,False,20230626-0000013,0,0.0,0,0,0,NaT,카드,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,nan,nan,NaN,2024-02-15 22:54:58.826000+09:00,2023-06-26 17:11:32.034000+09:00,NaT,NaT,NaT,NaT,NaT,6499483484f5c200012d172e,True,2,645de78cfc934120880f1de9,645de78dfc934120880f1fba,645de78dfc934120880f1fbb,79900.0,탄력 광채 부스터 세트-에버글로우 피에스트로 (30포) 1개+더마 뷰티 콜라겐 앰플...,False,requested,6499483484f5c200012d172d,159800,2024-02-15 14:05:27.646000+00:00,2023-06-26 08:11:32.037000+00:00,20230626-0000013-001,NaN,2024-02-15 23:05:27.646000+09:00,2023-06-26 17:11:32.037000+09:00,2023-06-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22593,66591792095ab4b76ee5d0e6,True,processing,0,0,45900.0,,0,0,None,KRW,0,3000.0,0,[22%]힌트 리스펙타 질유산균 1박스(1개월분),kty9125@naver.com,김태영,010-8526-9224,김태영,33640,충남 서천군 서천읍 서천로143번길 51,104동 1504호,010-8526-9224,False,requested,6659176dee96d3e5c26d772a,"[0000007, 010, 104동, 1504호, 1개월분, 1박...",2024-05-31 00:19:56.023000+00:00,2024-05-31 00:19:30.468000+00:00,1.0,NaN,NaT,NaN,NaN,NaT,NaT,45900,False,20240531-0000007,0,NaN,42900,0,214,2024-05-31 00:19:56.019000+00:00,카드,카드,NaN,카드 (삼성카드),빠른 배송 부탁드립니다.,삼성카드,NaN,NaT,NaN,NaN,NaT,665917ac57a59b078a5e6a48,None,NaN,2024-05-31 09:19:56.023000+09:00,2024-05-31 09:19:30.468000+09:00,NaT,NaT,NaT,2024-05-31 09:19:56.019000+09:00,NaT,66591792095ab4b76ee5d0e7,True,1,652cc8bdbc1dd9000118fd1e,652cc820bc1dd9000118fd1c,652cc7a50a6c7300019849b4,42900.0,[22%]힌트 리스펙타 질유산균 1박스(1개월분),False,requested,66591792095ab4b76ee5d0e6,42900,2024-05-31 00:19:30.477000+00:00,2024-05-31 00:19:30.477000+00:00,20240531-0000007-001,NaN,2024-05-31 09:19:30.477000+09:00,2024-05-31 09:19:30.477000+09:00,2024-05-31
22594,66591c3aee96d3e5c26d7739,True,processing,0,0,129000.0,,10000,0,None,KRW,0,0.0,0,[율스라이프][52%] 킨더비타 2종 X 3박스(총60포),mi-ya82@hanmail.net,심은영,010-9797-7465,심은영,21685,인천 남동구 논고개로 17,1110동 1404호,010-9797-7465,False,requested,66591c12ee96d3e5c26d7733,"[0000008, 010, 1110동, 1404호, 17, 20240531, ...",2024-05-31 00:40:11.168000+00:00,2024-05-31 00:39:22.494000+00:00,1.0,NaN,NaT,NaN,NaN,NaT,NaT,119000,False,20240531-0000008,10000,NaN,119000,0,595,2024-05-31 00:40:11.163000+00:00,카드,카드,NaN,카드 (삼성카드),부재시 문앞에 놓아 주세요.,삼성카드,NaN,NaT,NaN,NaN,NaT,66591c6b57a59b078a5e6a4a,66591c12ee96d3e5c26d7734,NaN,2024-05-31 09:40:11.168000+09:00,2024-05-31 09:39:22.494000+09:00,NaT,NaT,NaT,2024-05-31 09:40:11.163000+09:00,NaT,66591c3aee96d3e5c26d773a,True,1,6653d292095ab4b76ee5cdbe,6653d292095ab4b76ee5cddd,6653d292095ab4b76ee5cddb,129000.0,[율스라이프][52%] 킨더비타 2종 X 3박스(총60포),False,requested,66591c3aee96d3e5c26d7739,129000,2024-05-31 00:39:22.504000+00:00,2024-05-31 00:39:22.504000+00:00,20240531-0000008-001,NaN,2024-05-31 09:39:22.504000+09:00,2024-05-31 09:39:22.504000+09:00,2024-05-31
22595,665939cc095ab4b76ee5d0f6,True,processing,0,0,116000.0,,10000,0,None,KRW,0,0.0,0,[44%]W밸런스 유산균 4박스,dldnt22@naver.com,김수희,010-4415-0781,김수희,41767,대구 서구 서대구로29길 30,723-1303,010-4415-0781,False,requested,6659398dee96d3e5c26d7758,"[0000010, 010, 0781, 1303, 20240531, 30, 44, 4...",2024-05-31 02:46:57.556000+00:00,2024-05-31 02:45:32.176000+00:00,1.0,NaN,NaT,NaN,NaN,NaT,NaT,106000,False,20240531-0000010,10000,NaN,106000,0,530,2024-05-31 02:46:57.551000+00:00,카드,카드,NaN,카드 (KB국민카드),,KB국민카드,NaN,NaT,NaN,NaN,NaT,66593a21ee96d3e5c26d7763,6659398dee96d3e5c26d7759,NaN,2024-05-31 11:46:57.556000+09:00,2024-05-31 11:45:32.176000+09:00,NaT,NaT,NaT,2024-05-31 11:46:57.551000+09:00,NaT,665939cc095ab4b76ee5d0f7,True,1,64e347336c69740001184a7f,64ec6a2f24a0a6000154e57d,64ec69de8602e70001b8f9e3,116000.0,[44%]W밸런스 유산균 4박스,False,requested,665939cc095ab4b76ee5d0f6,116000,2024-05-31 02:45:32.185000+00:00,2024-05-31 02:45:32.185000+00:00,20240531-0000010-001,NaN,2024-05-31 11:45:32.185000+09:00,2024-05-31 11:45:32.185000+09:00,2024-05-31
22596,665939ccee96d3e5c26d775d,True,failed,0,0,116000.0,,10000,0,None,KRW,0,0.0,0,[44%]W밸런스 유산균 4박스,dldnt22@naver.com,김수희,010-4415-0781,김수희,41767,대구 서구 서대구로29길 30,723-1303,010-4415-0781,False,requested,6659398dee96d3e5c26d7758,"[0000011, 010, 0781, 1303, 20240531, 30, 44, 4...",2024-05-31 02:56:40.559000+00:00,2024-05-31 02:45:32.636000+00:00,1.0,NaN,NaT,NaN,NaN,NaT,NaT,106000,False,20240531-0000011,10000,NaN,106000,0,530,NaT,NaN,NaN,NaN,NaN,,NaN,NaN,NaT,NaN,NaN,NaT,nan,6659398dee96d3e5c26d7759,NaN,2024-05-31 11:56:40.559000+09:00,2024-05-31 11:45:32.636000+09:00,NaT,NaT,NaT,NaT,NaT,665939ccee96d3e5c26d775e,True,1,64e347336c69740001184a7f,64ec6a2f24a0a6000154e57d,64ec69de8602e70001b8f9e3,116000.0,[44%]W밸런스 유산균 4박스,False,requested,665939ccee96d3e5c26d775d,116000,2024-05-31 02:45:32.645000+00:00,2024-05-31 02:45:32.645000+00:00,20240531-0000011-001,NaN,2024-05-31 11:45:32.645000+09:00,2024-05-31 11:45:32.645000+09:00,2024-05-31
22597,665969281a39085b5c332e9a,True,paid,0,0,82600.0,,0,0,None,KRW,0,0.0,0,[25%]힌트 리스펙타 질유산균 2박스(2개월분),shoiy@naver.com,정지수,010-7150-9412,정지수,10473,경기 고양시 덕양구 화중로 222,204동 104호,010-7150-9412,False,requested,66593c49ee96d3e5c26d7765,"[0000012, 010, 104호, 20240531, 204동, 222, 2...",2024-05-31 06:08:33.265000+00:00,2024-05-31 06:07:36.296000+00:00,1.0,NaN,NaT,NaN,NaN,NaT,NaT,82600,False,20240531-0000012,0,NaN,82600,0,413,2024-05-31 06:08:33.261000+00:00,간편결제,네이버페이,네이버페이,네이버페이,부재시 문앞에 놓아 주세요.,NaN,NaN,NaT,NaN,NaN,NaT,665969611a39085b5c332e9f,None,NaN,2024-05-31 15:08:33.265000+09:00,2024-05-31 15:07:36.296000+09:00,NaT,NaT,NaT,2024-05-31 15:08:33.261000+09:00,NaT,665969281a39085b5c332e9b,True,1,652cc8bdbc1dd9000118fd1e,652cc83a0a6c7300019849b5,652cc7c3bc1dd9000118fd1a,82600.0,[25%]힌트 리스펙타 질유산균 2박스(2개월분),False,requested,665969281a39085b5c332e9a,82600,2024-05-31 06:07:36.306000+00:00,2024-05-31 06:07:36.306000+00:00,20240531-0000012-001,NaN,2024-05-31 15:07:36.306000+09:00,2024-05-31 15:07:36.306000+09:00,2024-05-31

In [93]:
order_df[lambda x:x['_id'] == '6652c59457a59b078a5e672f']

,_id,is_visible,status,price_total,discounted_price,adjust_price,actual_price,net_price,special_instructions,coupon_total,point,point_total,reward_point_by_coupon,reward_point_by_purchase,discounted_price_by_coupon,discounted_price_by_point,currency,item_count,shipping_fee_total,payment_total,is_deleted,title,email,orderer,orderer_phone,recipient,post_code,address,address_detail,recipient_phone,shipping_message,is_order_disabled,aasm_state,user_id,user_coupon_id,_keywords,updated_at,created_at,number,point_items_count,current_payment_method,easy_pay_provider,linked_payment_id,paid_at,payment_method,payment_method_detail,shipping_invoice,shipping_started_at,shipping_state,shipping_vendor,delivered_at,completed_at,toss_card_vendor_name,seller_id,virtual_account_customer_name,virtual_account_due_date,virtual_account_number,virtual_account_vendor_name,canceled_at,updated_at_kst,created_at_kst,paid_at_kst,shipping_started_at_kst,delivered_at_kst,completed_at_kst,canceled_at_kst,regdate
233,6652c59457a59b078a5e672f,True,delivered,0,0,42000.0,42000,39000,,0,0,None,0,195,0,NaN,KRW,0,3000.0,0,False,[25%]W밸런스 유산균 1박스,jeteaime_b@naver.com,박보영,010-3248-9410,박미정,54635,전북특별자치도 익산시 인북로64길 39,205호,010-9566-1139,현관비번 #7788#,False,requested,665215ac1a39085b5c332b90,None,"[0000006, 010, 1139, 1박스, 20240526, 205호, ...",2024-05-31 00:00:13.682000+00:00,2024-05-26 05:16:04.030000+00:00,20240526-0000006,1.0,가상계좌,NaN,6652c68bee96d3e5c26d749a,2024-05-26 05:20:11.495000+00:00,가상계좌,가상계좌 (NH농협은행 79012766179977 박보영 / 2024-05-27T1...,6091443653981,2024-05-27 07:40:46.143000+00:00,shipped,EPOST,2024-05-31 00:00:13.682000+00:00,NaT,NaN,nan,박보영,2024-05-27 05:16:05,79012766179977,NH농협은행,NaT,2024-05-31 09:00:13.682000+09:00,2024-05-26 14:16:04.030000+09:00,2024-05-26 14:20:11.495000+09:00,2024-05-27 16:40:46.143000+09:00,2024-05-31 09:00:13.682000+09:00,NaT,NaT,2024-05-26

In [94]:
oi_df[lambda x:x['order_id'] == '6652c59457a59b078a5e672f']

,_id,is_visible,is_deleted,count,pdp_id,product_set_id,product_id,adjust_price,title,number,aasm_state,order_id,total_price,updated_at,created_at,seller_id,updated_at_kst,created_at_kst
248,6652c59457a59b078a5e6730,True,False,1,64e347336c69740001184a7f,64ec69f68602e70001b8f9e4,64ec69ac24a0a6000154e57c,39000.0,[25%]W밸런스 유산균 1박스,20240526-0000006-001,requested,6652c59457a59b078a5e672f,39000,2024-05-26 05:16:04.039000+00:00,2024-05-26 05:16:04.039000+00:00,nan,2024-05-26 14:16:04.039000+09:00,2024-05-26 14:16:04.039000+09:00

### 검수

In [279]:
order_df

,_id,is_visible,status,price_total,discounted_price,adjust_price,actual_price,net_price,special_instructions,coupon_total,point,point_total,reward_point_by_coupon,reward_point_by_purchase,discounted_price_by_coupon,discounted_price_by_point,currency,item_count,shipping_fee_total,payment_total,is_deleted,title,email,orderer,orderer_phone,recipient,post_code,address,address_detail,recipient_phone,shipping_message,is_order_disabled,aasm_state,user_id,user_coupon_id,_keywords,updated_at,created_at,number,point_items_count,current_payment_method,easy_pay_provider,linked_payment_id,paid_at,payment_method,payment_method_detail,shipping_invoice,shipping_started_at,shipping_state,shipping_vendor,delivered_at,completed_at,seller_id,toss_card_vendor_name,virtual_account_customer_name,virtual_account_due_date,virtual_account_number,virtual_account_vendor_name,canceled_at,updated_at_kst,created_at_kst,paid_at_kst,shipping_started_at_kst,delivered_at_kst,completed_at_kst,canceled_at_kst
0,65e6e8ff52981200010bdb26,True,completed,0,0,42200.0,42200,39200,,0,0,None,0,196,0,NaN,KRW,0,3000.0,0,False,[20%]힌트 딥 아쉬아간다 1박스(16포),akqjqthsus77@nate.com,정세훈,010-5478-3647,정세훈,36136,경북 영주시 대학로240번길 16-5,502호,010-5478-3647,,False,requested,65e6e8bf525f3e0001dc0137,None,"[0000042, 010, 16, 16포, 1박스, 20, 20240305,...",2024-03-19 00:05:03.446000+00:00,2024-03-05 09:42:23.532000+00:00,20240305-0000042,1.00,네이버페이,네이버페이,65e6e92452981200010bdb2b,2024-03-05 09:43:00.480000+00:00,간편결제,네이버페이,6091436787634,2024-03-06 07:26:38.999000+00:00,shipped,EPOST,2024-03-12 00:00:04.966000+00:00,2024-03-19 00:05:03.446000+00:00,nan,NaN,NaN,NaT,NaN,NaN,NaT,2024-03-19 09:05:03.446000+09:00,2024-03-05 18:42:23.532000+09:00,2024-03-05 18:43:00.480000+09:00,2024-03-06 16:26:38.999000+09:00,2024-03-12 09:00:04.966000+09:00,2024-03-19 09:05:03.446000+09:00,NaT
1,65e6ea42525f3e0001dc013e,True,completed,0,0,42000.0,42000,39000,,0,0,None,0,195,0,NaN,KRW,0,3000.0,0,False,[25%]W밸런스 유산균 1박스,jamba10@naver.com,김채린,010-5936-3820,김채린,16687,경기 수원시 영통구 영통로 111,엘지자이 307동 2106호,010-5936-3820,,False,requested,65e6676852981200010bda32,None,"[0000043, 010, 111, 1박스, 20240305, 2106호, ...",2024-03-19 00:05:03.446000+00:00,2024-03-05 09:47:46.204000+00:00,20240305-0000043,1.00,토스페이,토스페이,65e6ea60b149c00001911993,2024-03-05 09:48:16.878000+00:00,간편결제,토스페이,6091436787660,2024-03-06 07:20:34.920000+00:00,shipped,EPOST,2024-03-12 00:00:04.966000+00:00,2024-03-19 00:05:03.446000+00:00,nan,NaN,NaN,NaT,NaN,NaN,NaT,2024-03-19 09:05:03.446000+09:00,2024-03-05 18:47:46.204000+09:00,2024-03-05 18:48:16.878000+09:00,2024-03-06 16:20:34.920000+09:00,2024-03-12 09:00:04.966000+09:00,2024-03-19 09:05:03.446000+09:00,NaT
2,65e6fcf952981200010bdb2d,True,completed,0,0,86000.0,86000,86000,,0,0,None,0,430,0,NaN,KRW,0,0.0,0,False,[심수민][37%]맥스컷 블루워터 3.1 1통 + 맥스컷 프로 1박스,tlssej0713@naver.com,신은지,010-8976-0713,신은지,04779,서울 성동구 상원2길 5,5층비유띠,010-8976-0713,,False,requested,65e6fc831db17300010a18dd,None,"[0000044, 010, 0713, 1박스, 1통, 20240305, 3...",2024-04-19 00:42:09.761000+00:00,2024-03-05 11:07:37.734000+00:00,20240305-0000044,1.00,휴대폰,NaN,65e6fd13525f3e0001dc0143,2024-03-05 11:08:03.213000+00:00,휴대폰,휴대폰,6091436787646,2024-03-06 07:22:37.642000+00:00,shipped,EPOST,2024-03-12 00:00:04.966000+00:00,2024-03-19 00:05:03.446000+00:00,6621bdbafc93412efa01323f,NaN,NaN,NaT,NaN,NaN,NaT,2024-04-19 09:42:09.761000+09:00,2024-03-05 20:07:37.734000+09:00,2024-03-05 20:08:03.213000+09:00,2024-03-06 16:22:37.642000+09:00,2024-03-12 09:00:04.966000+09:00,2024-03-19 09:05:03.446000+09:00,NaT
3,65e7000052981200010bdb32,True,completed,0,0,42000.0,42000,39000,,0,0,None,0,195,0,NaN,KRW,0,3000.0,0,False,[25%]W밸런스 유산균 1박스,tlsghkshk@naver.com,최신화,010-8651-2171,최신화,14774,경기 부천시 소사구 소사로78번길 81,106동 801호,010-8651-2171,,False,requested,65e5632b525f3e0001dbffbf,None,"[0000045, 010, 106동, 1박스, 20240305, 2171,...",2024-03-19 00:05:03.446000+00:00,2024-03-05 11:20:32.231000+00:00,20240305-0000045,1.00,네이버페이,네이버페이,65e7001d1db17300010a18e6,2024-03-05 11:21:01.868000+00:00,간편결제,네이버페이,6091436787659,2024-03-06 07:20:34.888000+00:00,shipped,EPOST,2024-03-12 00:00:04.966000+00:00,2024-03-19 00:05:03.446000+00:00,nan,NaN,NaN,NaT,NaN,NaN,NaT,2024-03-19 09:05:03.446000+09:00,2024-03-05 20:20:32.231000+09:00,2024-03-05 20:21:01.868000+09:00,2024-03-06 16:20:34.888000+09:00,2024-03-12 09:00:04.966000+09:00,2024-03-19 09:05:03.446000+09:00,NaT
4,65e707f452981200010bdb37,True,completed,0,0,79000.0,79000,79000,,0,0,None,0,0,0,NaN,KRW,0,0.0,0,False,[10%]원더라이너S 2박스,qltmf1301@naver.com,김형주,010-7357-1180,김형주,47597,부산 연제구 월드컵대로91번가길 7,대한빌 202호,010-7357-1180,문앞 배송 후 문자주세요,False,requested,nan,None,"[0000046, 010, 10, 1180, 20240305, 202호, 2박...",2024-03-19 00:05:03.446000+00:00,2024-03-05 11:54:28.360000+00:00,20240305-0000046,NaN,카드,NaN,65e7081952981200010bdb3b,2024-03-05 11:55:05.210000+00:00,카드,카드 (우리카드),6091436787636,2024-03-06 07:26:38.956000+00:00,shipped,EPOST,2024-03-12 00:00:04.966000+00:00,2024-03-19 00:05:03.446000+00:00,nan,우리카드,NaN,NaT,NaN,NaN,NaT,2024-03-19 09:05:03.446000+09:00,2024-03-05 20:54:28.360000+09:00,2024-03-05 20:55:05.210000+09:00,2024-03-06 16:26:38.956000+09:00,2024-03-12 09:00:04.966000+09:00,2024-03-19 09:05:03.446000+09:00,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7659,665d5f81704230f8f2e0cbcf,True,paid,0,0,32800.0,32800,29800,,0,0,None,0,149,0,NaN,KRW,0,3000.0,0,False,[30%]노선경 킹스파우더 1박스,eunbyole@hanmail.net,이은별,010-9502-2252,이은별,03414,서울 은평구 구산동 25-16,삼정주택 101호,010-9502-2252,,False,requested,665d5f595f558d49497768a3,None,"[0000071, 010, 101호, 16, 1박스, 20240603, 22...",2024-06-03 06:16:06.012000+00:00,2024-06-03 06:15:30.003000+00:00,20240603-0000071,1.00,카드,NaN,665d5fa5707800084072eb76,2024-06-03 06:16:06.008000+00:00,카드,카드 (삼성카드),NaN,NaT,NaN,NaN,NaT,NaT,nan,삼성카드,NaN,NaT,NaN,NaN,NaT,2024-06-03 15:16:06.012000+09:00,2024-06-03 15:15:30.003000+09:00,2024-06-03 15:16:06.008000+09:00,NaT,NaT,NaT,NaT
7660,665d634f707800084072eb7c,True,paid,0,0,54400.0,54400,54400,,0,0,None,0,272,0,NaN,KRW,0,0.0,0,False,[36%]노선경 킹스파우더 2박스,thsgksk4448@naver.com,손하나,010-8808-3002,손하나,42818,대구 달서구 앞산순환로55길 103,골목 안 주황색대문 1층,010-8808-3002,부재시 문앞에 놓아 주세요.,False,requested,665d62cf707800084072eb77,None,"[0000072, 010, 103, 1층, 20240603, 2박스, 30...",2024-06-03 06:32:17.533000+00:00,2024-06-03 06:31:43.641000+00:00,20240603-0000072,1.00,카드,NaN,665d6371704230f8f2e0cbd6,2024-06-03 06:32:17.528000+00:00,카드,카드 (신한카드),NaN,NaT,NaN,NaN,NaT,NaT,nan,신한카드,NaN,NaT,NaN,NaN,NaT,2024-06-03 15:32:17.533000+09:00,2024-06-03 15:31:43.641000+09:00,2024-06-03 15:32:17.528000+09:00,NaT,NaT,NaT,NaT
7661,665d6ceb21f01dc021e26221,True,failed,0,0,74100.0,74100,74100,,0,0,None,0,370,0,NaN,KRW,0,0.0,0,False,[56%]노선경 킹스파우더 3박스+1박스+(증정)킹스파우더 전용보틀 1개(소진시마감),syjung5340@nate.com,정수연,010-8611-2978,정수연,37583,경북 포항시 북구 장량로18번길 15,썬빌 401호,010-8611-2978,,False,requested,665d6c95704230f8f2e0cbd8,None,"[0000073, 010, 15, 1개, 1박스, 20240603, 2978...",2024-06-03 07:23:36.941000+00:00,2024-06-03 07:12:43.581000+00:00,20240603-0000073,1.00,NaN,NaN,nan,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,nan,NaN,NaN,NaT,NaN,NaN,NaT,2024-06-03 16:23:36.941000+09:00,2024-06-03 16:12:43.581000+09:00,NaT,NaT,NaT,NaT,NaT
7662,665d71d1707800084072eb81,True,paid,0,0,74100.0,74100,74100,,0,0,None,0,370,0,NaN,KRW,0,0.0,0,False,[56%]노선경 킹스파우더 3박스+1박스+(증정)킹스파우더 전용보틀 1개(소진시마감),dltjwjd1004@daum.net,이서정,010-5848-9254,이서정,41534,대구 북구 산격로19길 9,모던205,010-5848-9254,,False,requested,65bf71351209ea0001cfe2e3,None,"[0000074, 010, 1개, 1박스, 20240603, 3박스, ...",2024-06-03 07:33:59.924000+00:00,2024-06-03 07:33:37.294000+00:00,20240603-0000074,1.00,카카오페이,카카오페이,665d71e75f558d49497768b1,2024-06-03 07:33:59.920000+00:00,간편결제,카카오페이,NaN,NaT,NaN,NaN,NaT,NaT,nan,NaN,NaN,NaT,NaN,NaN,NaT,2024-06-03 16:33:59.924000+09:00,2024-06-03 16:33:37.294000+09:00,2024-06-03 16:33:59.920000+09:00,NaT,NaT,NaT,NaT
7663,665d7d415f558d49497768b9,True,paid,0,0,74100.0,74100,74100,,0,0,None,0,370,0,NaN,KRW,0,0.0,0,False,[56%]노선경 킹스파우더 3박스+1박스+(증정)킹스파우더 전용보틀 1개(소진시마감),jmjf11@naver.com,정민지,010-6305-3863,정민지,59691,전남 여수시 예울마루로 30,114동 103호(웅천지웰),010-6305-3863,부재시 문앞에 놓아 주세요.,False,requested,665d7cf4704230f8f2e0cbe2,None,"[0000075, 010, 103호, 114동, 1개, 1박스, 202...",2024-06-03 08:23:01.105000+00:00,2024-06-03 08:22:25.794000+00:00,20240603-0000075,1.00,카드,NaN,665d7d655f558d49497768be,2024-06-03 08:23:01.101000+00:00,카드,카드 (롯데카드),NaN,NaT,NaN,NaN,NaT,NaT,nan,롯데카드,NaN,NaT,NaN,NaN,NaT,2024-06-03 17:23:01.105000+09:00,2024-06-03 17:22:25.794000+09:00,2024-06-03 17:23:01.101000+09:00,NaT,NaT,NaT,NaT

In [280]:
t_mo_df = order_df[['_id', 'status', 'paid_at_kst', 'actual_price', 'shipping_fee_total']][lambda x:x['status'].isin(desired_states)]

In [281]:

t_mo_df['regdate'] = pd.to_datetime(t_mo_df['paid_at_kst']).dt.date
#order_df['week'] = pd.to_datetime(order_df['paid_at_kst']).dt.to_period('W').apply(lambda r: r.start_time)
t_mo_df['week'] = t_mo_df['paid_at_kst'].dt.to_period('W').apply(lambda r: r.start_time if pd.notna(r) else pd.NaT)

#order_df['month'] = pd.to_datetime(order_df['paid_at_kst']).dt.to_period('M').apply(lambda r: r.start_time)
t_mo_df['month'] = t_mo_df['paid_at_kst'].dt.to_period('M').apply(lambda r: r.start_time if pd.notna(r) else pd.NaT)

t_mo_df['actual_price'] = pd.to_numeric(t_mo_df['actual_price'], errors='coerce')
t_mo_df['shipping_fee_total'] = pd.to_numeric(t_mo_df['shipping_fee_total'], errors='coerce')

/var/folders/fj/w1r1ykvs7p7_n2jtmj5v1hd40000gp/T/ipykernel_14521/2990805565.py:3: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  t_mo_df['week'] = t_mo_df['paid_at_kst'].dt.to_period('W').apply(lambda r: r.start_time if pd.notna(r) else pd.NaT)
/var/folders/fj/w1r1ykvs7p7_n2jtmj5v1hd40000gp/T/ipykernel_14521/2990805565.py:6: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  t_mo_df['month'] = t_mo_df['paid_at_kst'].dt.to_period('M').apply(lambda r: r.start_time if pd.notna(r) else pd.NaT)

In [282]:
t_mo_df

,_id,status,paid_at_kst,actual_price,shipping_fee_total,regdate,week,month
0,65e6e8ff52981200010bdb26,completed,2024-03-05 18:43:00.480000+09:00,42200,3000.00,2024-03-05,2024-03-04,2024-03-01
1,65e6ea42525f3e0001dc013e,completed,2024-03-05 18:48:16.878000+09:00,42000,3000.00,2024-03-05,2024-03-04,2024-03-01
2,65e6fcf952981200010bdb2d,completed,2024-03-05 20:08:03.213000+09:00,86000,0.00,2024-03-05,2024-03-04,2024-03-01
3,65e7000052981200010bdb32,completed,2024-03-05 20:21:01.868000+09:00,42000,3000.00,2024-03-05,2024-03-04,2024-03-01
4,65e707f452981200010bdb37,completed,2024-03-05 20:55:05.210000+09:00,79000,0.00,2024-03-05,2024-03-04,2024-03-01
...,...,...,...,...,...,...,...,...
7658,665d5c955f558d494977689e,paid,2024-06-03 15:05:00.257000+09:00,39200,0.00,2024-06-03,2024-06-03,2024-06-01
7659,665d5f81704230f8f2e0cbcf,paid,2024-06-03 15:16:06.008000+09:00,32800,3000.00,2024-06-03,2024-06-03,2024-06-01
7660,665d634f707800084072eb7c,paid,2024-06-03 15:32:17.528000+09:00,54400,0.00,2024-06-03,2024-06-03,2024-06-01
7662,665d71d1707800084072eb81,paid,2024-06-03 16:33:59.920000+09:00,74100,0.00,2024-06-03,2024-06-03,2024-06-01
7663,665d7d415f558d49497768b9,paid,2024-06-03 17:23:01.101000+09:00,74100,0.00,2024-06-03,2024-06-03,2024-06-01

In [283]:
t_oi_df = oi_df.merge(pdp_df, left_on='pdp_id', right_on='_id', how='inner')\
    .pivot_table(index=['order_id'], columns='brand_type', values='total_price', aggfunc='sum').reset_index().fillna(0)

In [284]:
t_mo_df.merge(t_oi_df, left_on='_id', right_on='order_id', how='left').to_csv('t_moi_df.csv')

In [285]:
oi_df[lambda x:x['order_id']=='65e722b11a065f00017853af']

,_id,is_visible,is_deleted,count,pdp_id,product_set_id,product_id,adjust_price,title,number,aasm_state,order_id,total_price,updated_at,created_at,seller_id,updated_at_kst,created_at_kst
9,65e722b11a065f00017853b5,True,False,1,6572e7a9cefc910001f358a0,6572e762cefc910001f35894,6572e762cefc910001f35891,26000.00,[50%][LUCKY]W밸런스 유산균 1박스,20240305-0000051-006,requested,65e722b11a065f00017853af,26000,2024-03-05 13:48:33.787000+00:00,2024-03-05 13:48:33.787000+00:00,nan,2024-03-05 22:48:33.787000+09:00,2024-03-05 22:48:33.787000+09:00
10,65e722b11a065f00017853b1,True,False,2,6566cbed2d789d0001a137b0,6566cbed2d789d0001a137bf,6566cbed2d789d0001a137bd,6750.00,[75%][LUCKY]비타큐브 간편한 밀크씨슬 1통,20240305-0000051-002,requested,65e722b11a065f00017853af,13500,2024-03-05 13:48:33.786000+00:00,2024-03-05 13:48:33.786000+00:00,nan,2024-03-05 22:48:33.786000+09:00,2024-03-05 22:48:33.786000+09:00
11,65e722b11a065f00017853b4,True,False,2,65b320142e40c30001a9edcf,65b3619f2e40c30001a9ef26,65b3618d7153b10001a63591,8900.00,[77%][LUCKY]두잇 초코크런치 1박스,20240305-0000051-005,requested,65e722b11a065f00017853af,17800,2024-03-05 13:48:33.786000+00:00,2024-03-05 13:48:33.786000+00:00,nan,2024-03-05 22:48:33.786000+09:00,2024-03-05 22:48:33.786000+09:00
12,65e722b11a065f00017853b0,True,False,2,6566caf42d789d0001a13771,6566caf42d789d0001a1377e,6566caf42d789d0001a1377c,6000.00,[78%][LUCKY]비타큐브 멀티비타민 1통,20240305-0000051-001,requested,65e722b11a065f00017853af,12000,2024-03-05 13:48:33.786000+00:00,2024-03-05 13:48:33.786000+00:00,nan,2024-03-05 22:48:33.786000+09:00,2024-03-05 22:48:33.786000+09:00
13,65e722b11a065f00017853b2,True,False,2,6566cb712d789d0001a13790,6566cb712d789d0001a1379e,6566cb712d789d0001a1379c,9500.00,[70%][LUCKY]비타큐브 rTG오메가3 1통,20240305-0000051-003,requested,65e722b11a065f00017853af,19000,2024-03-05 13:48:33.786000+00:00,2024-03-05 13:48:33.786000+00:00,nan,2024-03-05 22:48:33.786000+09:00,2024-03-05 22:48:33.786000+09:00
14,65e722b11a065f00017853b3,True,False,2,65b361e37153b10001a63592,65b362ddbe7af600016baab4,65b362ccbe7af600016baab3,4400.00,[93%][LUCKY]바이오비타 1박스,20240305-0000051-004,requested,65e722b11a065f00017853af,8800,2024-03-05 13:48:33.786000+00:00,2024-03-05 13:48:33.786000+00:00,nan,2024-03-05 22:48:33.786000+09:00,2024-03-05 22:48:33.786000+09:00